.DS_Store
node_modules
/dist

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.firebase
/public/buttons/*.json

*.mo
*.po~
/src/i18n/**/*.json
/src/i18n/process/*
!/src/i18n/process/translate.js
/src/i18n/need-translation/*
/src/config/countries-search.js
/src/config/exclude-messages.js
/src/config/svg.js
/src/config/countries-calling-codes.js
/src/config/saas.js
/src/config/env.json
/src/config/presets-with-gradient.js
/public/favicon/
/src/fonts/
