<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout-vue</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <style>
      html {
        height: 100%;
      }
      body {
        height: 100%;
        /*overflow-y: scroll;*/
      }
      #app{
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <f-checkout :options="options"></f-checkout>
    </div>
    <script type="text/x-vue-template" id="f-fields">
      <div class="f-fields">
        <div class="f-block f-block-hr">
          <div class="form-group" :class="{'has-error': errors.has('field_1')}">
            <label for="field_1">Фио</label>
            <tooltip :text="errors.first('field_1')" :enable="errors.has('field_1')">
            <input name="field_1" v-validate="'required|alpha'" v-model="form.field_1" data-vv-as="Фио" type="text" class="form-control" id="field_1">
            <!--<div v-if="errors.has('field_1')" class="f-error">{{ errors.first('field_1') }}</div>-->
            </tooltip>
          </div>
          <div class="row">
            <div class="form-group col-xs-6" :class="{'has-error': errors.has('field_2')}">
              <label for="field_2">Email</label>
              <tooltip :text="errors.first('field_2')" :enable="errors.has('field_2')" placement="bottom">
              <input name="field_2" v-validate="'required|email'" v-model="form.field_2" data-vv-as="Email" type="text" class="form-control" id="field_2">
              <!--<div v-if="errors.has('field_2')" class="f-error">{{ errors.first('field_2') }}</div>-->
              </tooltip>
            </div>
            <div class="form-group col-xs-6" :class="{'has-error': errors.has('field_3')}">
              <label for="field_3">Телефон</label>
              <tooltip :text="errors.first('field_3')" :enable="errors.has('field_3')">
              <input name="field_3" v-validate="'required|numeric'" v-model="form.field_3" data-vv-as="Телефон" type="text" class="form-control" id="field_3">
              <!--<div v-if="errors.has('field_3')" class="f-error">{{ errors.first('field_3') }}</div>-->
              </tooltip>
            </div>
          </div>
        </div>
        <div class="f-block f-block-hr">
          <div class="f-block-sm">
            <div class="form-group" :class="{'has-error': errors.has('field_4')}">
              <label for="field_4">Сума к оплате</label>
              <div class="input-group">
                <tooltip :text="errors.first('field_4')" :enable="errors.has('field_4')">
                <input name="field_4" v-validate="'required|decimal:2'" v-model="form.field_4" data-vv-as="Сума к оплате" type="text" class="form-control" id="field_4">
                <!--<div v-if="errors.has('field_4')" class="f-error">{{ errors.first('field_4') }}</div>-->
                </tooltip>
                <span class="input-group-addon">UAH</span>
              </div>
            </div>
            <div class="form-group" :class="{'has-error': errors.has('field_5')}">
              <label for="field_5">Номер договора</label>
              <tooltip :text="errors.first('field_5')" :enable="errors.has('field_5')">
              <input name="field_5" v-validate="'required|alpha_num'" v-model="form.field_5" data-vv-as="Номер договора" type="text" class="form-control" id="field_5">
              <!--<div v-if="errors.has('field_5')" class="f-error">{{ errors.first('field_5') }}</div>-->
              </tooltip>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script>
      var maxOptions = {
        methods: ['card', 'emoney', 'ibank', 'cash', 'sepa'],
        ibank: ['p24', 'platba24', 'raiffeisen'],
        emoney: ['paypal', 'qiwi', 'webmoney', 'yamoney'],
        cash: ['liqpay'],
        fast: ['p24', 'platba24', 'paypal', 'liqpay', 'qiwi'],
        cardIcons: ['mastercard', 'visa', 'mir', 'prostir', 'diners-club', 'american-express'],
        fields: true,
        regular: true,
        offer: true,
        info: {
          title: 'Назначение платежа',
          desc: 'Благотворительная помощь (ребенку или отделению гематологии, или отделению плановой хирургии с онкологическими койками днепропетровской областной детской клинической больницы)',
          link: 'https://fondy.eu',
          amount: 500,
          full_amount: 510,
          commision: 10,
          currency: 'UAH'
        }
      }

      var minOptions = {
        methods: ['card'],
        fast: [],
        cardIcons: ['mastercard', 'visa'],
        info: {
          title: 'Назначение платежа',
          desc: 'Благотворительная помощь',
          amount: 500,
          full_amount: 500,
          currency: 'UAH'
        }
      }

      new Vue({
        el: '#app',
        data: {
          options: maxOptions
        }
      })
    </script>
  </body>
</html>
