@import '../vendor/rfs';
@import 'breakpoints';
@import 'hover';
@import 'grid';
@import 'grid-framework';
@import 'text-truncate';
@import 'utilities';
@import 'focus-visible';

@mixin sticky-top($top: 0, $zindex: $zindex-sticky) {
  @supports (position: sticky) {
    position: sticky;
    top: $top;
    z-index: $zindex;
  }
}

@mixin sticky-bottom($bottom: 0, $zindex: $zindex-sticky) {
  @supports (position: sticky) {
    position: sticky;
    bottom: $bottom;
    z-index: $zindex;
  }
}

@mixin clip() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clip-row($background, $row: 2) {
  position: relative;
  display: block;
  max-height: $line-height-base * $font-size-base * $row;
  overflow: hidden;
  line-height: $line-height-base;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
  background: $background;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: inherit;
  }

  &::before {
    position: absolute;
    top: $line-height-base * $font-size-base * ($row - 1);
    right: 0;
    content: '...';
    background-color: inherit;
  }
}

@mixin title() {
  margin: 0;
  margin-bottom: px-to-rem(20px);
  font-size: px-to-rem(20px);
  font-weight: 500;
  text-align: center;
}
