.f-header {
  padding: 15px 23px;

  @media (min-width: @screen-sm-min) {
    padding: 15px;
  }
}
.f-logo {
  height: 20px;
  width: 137px;
  background: url(../../assets/logo.svg) no-repeat 0 50%;
  background-size: contain;

  @media (min-width: @screen-sm-min) {
    height: 32px;
  }
}
