.f-icon{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
  display: inline-block;
}
.f-icon{
  .bg(security);
  .bg(card-empty);
  .bg(question);
  .bg(error);
  .bg(success);

  &.f-i-{
    &security{
      opacity: .3;
      background-size: 80%;
      height: 42px;
    }
    &question{
      background-size: 50%;
      pointer-events: auto;
    }
  }
}
.f-icon-block{
  display: block;
  width: 100%;
  background-size: contain;
}

.f-icon-contain {
  background-size: contain;
}

.f-icon-sm{
  width: 24px;
  height: 24px;
  background-size: contain;
  vertical-align: middle;
}
