.f-menu {
  text-align: center;
}

.f-item {
  cursor: pointer;
  color: @menu-item-color;
  transition: all ease-in-out 0.15s;
  background-repeat: no-repeat;
  vertical-align: top;

  .bg(card);
  .bg(emoney);
  .bg(ibank);
  .bg(trustly, ibank);
  .bg(cash);
  .bg(sepa);
  .bg(wallets, emoney);

  display: inline-block;
  height: 92px;
  width: 140px;
  box-shadow: 0 2px 4px 0 @menu-item-shadow;
  margin: 5px;
  padding: 50px 0 0 0;
  background-position: 50% 20px;

  &:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
    background-color: @menu-item-hover-bg;
  }

  &.active {
    color: @menu-item-active-color;
    background-color: @menu-item-active-bg;
    box-shadow: none;
    border: 1px solid @menu-item-active-border;

    .bg(card, card_a);
    .bg(emoney, emoney_a);
    .bg(ibank, ibank_a);
    .bg(trustly, ibank_a);
    .bg(cash, cash_a);
    .bg(sepa, sepa_a);
  }
}

.f-fast-access {
  text-align: center;

  .f-icon {
    cursor: pointer;
    height: 42px;
    width: 42px;
  }
}
