.f-menu{
  text-align: center;
}
.f-item{
  cursor: pointer;
  color: #3D3D3D;
  transition: background ease-in-out .15s;
  background-repeat: no-repeat;
  vertical-align: top;

  .bg(card);
  .bg(emoney);
  .bg(ibank);
  .bg(cash);
  .bg(sepa);

  display: inline-block;
  height: 92px;
  width: 140px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
  margin: 5px;
  padding: 50px 0 0 0;
  background-position: 50% 20px;

  &:hover,
  &:focus{
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  &.active{
    color: #62BA46;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(90,136,215,0.16);

    .bg(card, card_a);
    .bg(emoney, emoney_a);
    .bg(ibank, ibank_a);
    .bg(cash, cash_a);
    .bg(sepa, sepa_a);
  }
}
.f-fast-access{
  text-align: center;
}
