.f-ps {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px 20px 5px;
  width: 60px;
  font-size: 12px;
  vertical-align: top;
  text-align: center;
  word-wrap: break-word;

  .f-wrapper-icon {
    height: 60px;
  }
  .f-svg {
    height: 100%;
  }

  .f-icon {
    border-radius: 9px;
    position: relative;
    background-size: auto;
    transition: all ease-in-out 0.15s;
    display: block;
    height: 100%;
  }

  &:hover,
  &.active {
    .f-icon {
      .boxShadowFade(0 -1px 12px 0, @ps-active-shadow, 50%);
    }
  }
}

.f-ps-1,
.f-ps-2,
.f-ps-3 {
  .f-ps {
    width: 110px;
    font-size: 14px;
  }
  .f-wrapper-icon {
    height: 110px;
  }

  .f-icon::after {
    top: 8px;
    left: 8px;
  }
}

.f-ps-4,
.f-ps-5,
.f-ps-6,
.f-ps-7,
.f-ps-8 {
  .f-ps {
    width: 80px;
    font-size: 13px;
  }
  .f-wrapper-icon {
    height: 80px;
  }

  .f-icon::after {
    top: 6px;
    left: 6px;
  }
}

.f-iban {
  font-size: 10px;
  opacity: 0.8;
}
