@f-sm-width: 33%;
@f-md-width: 26%;
@f-min-width: 35%;

.f-wrapper {
  //position: relative;
  background-color: @wrapper-bg;
  &:extend(.clearfix all);
}

.f-center-error {
  position: absolute;
  width: 280px;
  left: 50%;
  margin-left: -140px;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.f-info,
.f-methods,
.f-center {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.f-info {
  // col-md-3 col-md-push-9

  border-top: 2px solid @info-border-mobile;
  border-bottom: 2px solid @info-border-mobile;

  .f-block-hr {
    border: none;
  }

  .f-block {
    color: @info-block-color;
    padding: 0;
  }
}

.f-methods {
  // col-sm-4 col-md-3 col-md-pull-3
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @methods-bg;
  padding-bottom: 15px;
  overflow-y: auto;
  transform: translateX(-1000%);

  &.f-open {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(0);
    z-index: 1070;
  }

  .f-block-hr {
    border: none;
  }
}

.f-center {
  // col-sm-8 col-md-6 col-md-pull-3
  //.f-min & {
  //}

  background: @center-bg;
}
