.f-alert {
  position: relative;
  padding: px-to-rem(24px) px-to-rem(20px);
  margin-bottom: px-to-rem(16px);
  border-radius: px-to-rem(16px);

  a {
    font-weight: 500;
  }
}

.f-alert-dismissible {
  padding-right: px-to-rem(70px);

  .f-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: px-to-rem(22px) px-to-rem(20px);
    color: inherit;
  }
}

@mixin alert-variant($background, $color) {
  color: $color;
  background-color: fade($background, 90%);

  a {
    color: $color;
  }
}

.f-alert-info {
  @include alert-variant($alert_info_bg, $alert_info_color);
}
