.f-alert {
  position: relative;
  padding: px-to-rem(24px) px-to-rem(20px);
  margin-bottom: px-to-rem(16px);
  border-radius: px-to-rem(16px);
}

@mixin alert-variant($background, $color) {
  color: $color;
  background-color: fade($background, 90%);

  a {
    color: $color;
  }
}

.f-alert-info {
  @include alert-variant($alert_info_bg, $alert_info_color);
}
