.f-alert {
  position: relative;
  padding: px-to-rem(24px) px-to-rem(20px);
  margin-bottom: px-to-rem(16px);
  border-radius: px-to-rem(16px);
}

@mixin alert-variant($background, $color) {
  color: $color;
  background-color: $background;

  a {
    color: $color;
  }
}

.f-alert-info {
  @include alert-variant(fade($alert_info_bg, 90%), $alert_info_color);
}

.f-alert-warning {
  @include alert-variant($alert_warning_bg, $warning);
}
