.f-btn-unstyled {
  padding: 0;
  margin: 0;
  overflow: initial;
  font: inherit;
  line-height: inherit;
  color: inherit;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: px-to-rem(4px);
  transition: box-shadow ease-in-out 0.15s;
}
