@mixin disabled() {
  &.disabled,
  &:disabled {
    color: $btn_disabled_color;

    &::before {
      box-shadow: none;
    }

    &::after {
      background: $btn_disabled_bg;
    }
  }
}

@mixin button-variant(
  $background,
  $border,
  $color,
  $shadow,
  $background-hover,
  $border-hover,
  $color-hover,
  $shadow-hover,
  $background-active,
  $border-active,
  $color-active,
  $shadow-active
) {
  color: $color;

  @if $shadow {
    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow, 60%);
    }
  }

  &::after {
    background-color: $background;
    @if $border {
      border: 1px solid $border;
    }
  }

  &:hover,
  &:focus {
    color: $color-hover;

    @if $shadow-hover {
      &::before {
        box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-hover, 60%);
      }
    }

    &::after {
      background-color: $background-hover;
      @if $border-hover {
        border: 1px solid $border-hover;
      }
    }
  }

  &:active {
    color: $color-active;

    @if $shadow-active {
      &::before {
        box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-active, 60%);
      }
    }

    &::after {
      background-color: $background-active;
      @if $border-active {
        border: 1px solid $border-active;
      }
    }
  }

  @include disabled;
}

@mixin button-link-variant($color, $color-hover, $color-active) {
  color: $color;

  &:hover,
  &:focus {
    color: $color-hover;
  }

  &:active {
    color: $color-active;
  }
}

@mixin button-bg-lighten($background-hover, $background-active) {
  &:hover,
  &:focus {
    &::after {
      background-color: $background-hover;
    }
  }

  &:active {
    &::after {
      background-color: $background-active;
    }
  }

  @include disabled;
}

.f-btn {
  position: relative;
  display: inline-block;
  height: px-to-rem(44px);
  min-height: px-to-rem(44px);
  padding: px-to-rem(10px) px-to-rem(32px);
  font-size: px-to-rem(16px);
  font-weight: 500;
  line-height: px-to-rem(24px);
  text-align: center;
  background: none;
  border: none;
  border-radius: px-to-rem(8px);
  transition: all ease-in-out 0.15s;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    bottom: px-to-rem(2px);
    left: 5%;
    z-index: 0;
    width: 90%;
    height: px-to-rem(32px);
    content: '';
    border-radius: px-to-rem(16px);
    transition: all ease-in-out 0.15s;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: px-to-rem(8px);
    transition: all ease-in-out 0.15s;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    transform: translateY(px-to-rem(-2px));
  }

  &:active {
    transform: translateY(0);
  }

  :not(:disabled, .disabled) {
    cursor: pointer;
  }
}

.f-btn-success {
  @include button-variant(
    $btn_success_bg,
    null,
    $btn_success_color,
    $btn_success_shadow,
    darken($btn_success_bg, 20%),
    null,
    $btn_success_color,
    $btn_success_shadow,
    darken($btn_success_bg, 40%),
    null,
    $btn_success_color,
    $btn_success_shadow
  );

  .f-theme-dark & {
    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) rgb(0 0 0 / 60%);
    }
  }
}

.f-btn-success-bg-lighten {
  @include button-bg-lighten(
    lighten($btn_success_bg, 20%),
    lighten($btn_success_bg, 40%)
  );
}

.f-btn-success-gradient {
  &::after,
  &:hover::after,
  &:focus::after,
  &:active::after {
    background: linear-gradient(
      130deg,
      custom($btn_success_bg, 30%, -10%) 11%,
      custom($btn_success_bg, 20%, -30%) 22%,
      custom($btn_success_bg, 20%, -30%) 32%,
      custom($btn_success_bg, 30%, -30%) 33%,
      custom($btn_success_bg, 20%, -50%) 55%,
      custom($btn_success_bg, 20%, -50%) 65%,
      custom($btn_success_bg, 30%, -50%) 66%,
      custom($btn_success_bg, 20%, -70%) 88%
    );
    background-position: 0 0;
    background-size: 300% 300%;
  }

  &:hover,
  &:focus {
    &::after {
      background-position: 50% 50%;
    }
  }

  &:active {
    &::after {
      background-position: 100% 100%;
    }
  }

  @include disabled;
}

.f-btn-success-gradient-custom {
  &::after,
  &:hover::after,
  &:focus::after,
  &:active::after {
    background: $btn_success_gradient_custom;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      background-position-x: -25px;
    }
  }

  &:active {
    &::after {
      background-position-x: -50px;
    }
  }

  @include disabled;
}

.f-btn-default {
  font-size: px-to-rem(16px);
  font-weight: 500;

  @include button-variant(
    $btn_default_bg,
    null,
    $btn_default_color,
    null,
    $btn_default_hover_bg,
    null,
    $btn_default_hover_color,
    $btn_default_hover_shadow,
    $btn_default_active_bg,
    null,
    $btn_default_active_color,
    $btn_default_active_shadow
  );
}

.f-btn-secondary {
  font-size: px-to-rem(16px);
  font-weight: 500;

  @include button-variant(
    $btn_secondary_bg,
    null,
    $btn_secondary_color,
    null,
    $btn_secondary_hover_bg,
    null,
    $btn_secondary_hover_color,
    $btn_secondary_hover_shadow,
    $btn_secondary_active_bg,
    null,
    $btn_secondary_active_color,
    $btn_secondary_active_shadow
  );
}

.f-btn-light {
  @include button-variant(
    $btn_light_bg,
    null,
    $btn_light_color,
    null,
    darken($btn_light_bg, 20%),
    null,
    null,
    null,
    darken($btn_light_bg, 40%),
    null,
    null,
    null
  );
}

.f-btn-dark {
  @include button-variant(
    $btn_dark_bg,
    null,
    $btn_dark_color,
    null,
    lighten($btn_dark_bg, 20%),
    null,
    null,
    null,
    lighten($btn_dark_bg, 40%),
    null,
    null,
    null
  );
}

.f-btn-outline {
  font-size: px-to-rem(14px);
  font-weight: 500;

  @include button-variant(
    $btn_outline_bg,
    $btn_outline_border,
    $btn_outline_color,
    null,
    $btn_outline_hover_bg,
    $btn_outline_hover_border,
    $btn_outline_hover_color,
    null,
    $btn_outline_active_bg,
    $btn_outline_active_border,
    $btn_outline_active_color,
    null
  );
}

.f-btn-block {
  display: block;
  width: 100%;
}

.f-btn-lg {
  height: px-to-rem(56px);
  min-height: px-to-rem(56px);
  padding: px-to-rem(16px) px-to-rem(32px);
  font-size: px-to-rem(18px);
}

.f-btn-icon {
  width: px-to-rem(48px);
  height: px-to-rem(48px);
  padding-right: 0;
  padding-left: 0;
}

.f-btn-link {
  text-align: left;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.f-btn-link-default {
  @include button-link-variant(
    $btn_link_default_color,
    $btn_link_default_hover_color,
    $btn_link_default_active_color
  );
}

.f-btn-link-secondary {
  @include button-link-variant(
    $btn_link_secondary_color,
    $btn_link_secondary_hover_color,
    $btn_link_secondary_active_color
  );
}
