@mixin disabled() {
  &.disabled,
  &:disabled {
    color: $btn_disabled_color;

    &::before {
      box-shadow: none;
    }

    &::after {
      background: $btn_disabled_bg;
    }
  }
}

@mixin button-variant(
  $background,
  $color,
  $shadow,
  $background-hover: darken($background, 20%),
  $color-hover: $color,
  $shadow-hover: $shadow,
  $background-active: darken($background, 40%),
  $color-active: $color,
  $shadow-active: $shadow
) {
  color: $color;

  &::before {
    box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow, 60%);
  }
  &::after {
    background: $background;
  }

  &:hover {
    color: $color-hover;

    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-hover, 60%);
    }
    &::after {
      background: $background-hover;
    }
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem fade($background, 50%);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color-active;

    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-active, 60%);
    }

    &::after {
      background: $background-active;
    }
  }
}

.f-btn {
  position: relative;
  display: inline-block;
  padding: px-to-rem(10px) px-to-rem(32px);
  font-size: px-to-rem(18px);
  font-weight: 600;
  line-height: px-to-rem(24px);
  text-align: center;
  background: none;
  border: none;
  border-radius: px-to-rem(8px);
  transition: all ease-in-out 0.15s;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    bottom: px-to-rem(2px);
    left: 5%;
    z-index: 0;
    width: 90%;
    height: px-to-rem(32px);
    content: '';
    border-radius: px-to-rem(16px);
    transition: all ease-in-out 0.15s;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: px-to-rem(8px);
    transition: all ease-in-out 0.15s;
  }

  &:not(:disabled):not(.disabled):hover {
    transition: transform 0.15s ease-in-out;
    transform: translate3d(0, px-to-rem(-2px), 0);
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  @include disabled();

  :not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.f-btn-success {
  @include button-variant(
    $btn_success_bg,
    $btn_success_color,
    $btn_success_shadow
  );

  &.f-enable-gradient {
    &::after,
    &:hover::after,
    &:not(:disabled):not(.disabled):active::after,
    &:not(:disabled):not(.disabled).active::after {
      background: linear-gradient(
        130deg,
        custom($btn_success_bg, 30%, -10%) 11%,
        custom($btn_success_bg, 20%, -30%) 22%,
        32%,
        custom($btn_success_bg, 30%, -30%) 33%,
        44%,
        custom($btn_success_bg, 20%, -50%) 55%,
        65%,
        custom($btn_success_bg, 30%, -50%) 66%,
        77%,
        custom($btn_success_bg, 20%, -70%) 88%
      );
      background-position: 0 0;
      background-size: 300% 300%;
    }

    &:hover {
      &::after {
        background-position: 50% 50%;
      }
    }

    @include disabled();

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      &::after {
        background-position: 100% 100%;
      }
    }
  }
}

.f-btn-secondary {
  font-weight: 400;
  @include button-variant(
    $btn_secondary_bg,
    $btn_secondary_color,
    $btn_secondary_shadow,
    $btn_secondary_hover_bg,
    $btn_secondary_hover_color,
    $btn_secondary_hover_shadow,
    $btn_secondary_active_bg,
    $btn_secondary_active_color,
    $btn_secondary_active_shadow
  );
}

.f-btn-block {
  display: block;
  width: 100%;
}

.f-btn-lg {
  padding: px-to-rem(16px) px-to-rem(32px);
}
