@mixin disabled() {
  &.disabled,
  &:disabled {
    color: $btn_disabled_color;

    &::before {
      box-shadow: none;
    }

    &::after {
      background: $btn_disabled_bg;
    }
  }
}

@mixin button-variant(
  $background,
  $color,
  $shadow,
  $background-hover: darken($background, 20%),
  $color-hover: $color,
  $shadow-hover: $shadow,
  $background-active: darken($background, 40%),
  $color-active: $color,
  $shadow-active: $shadow
) {
  color: $color;

  &::before {
    box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow, 60%);
  }
  &::after {
    background: $background;
  }

  &:hover {
    color: $color-hover;

    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-hover, 60%);
    }
    &::after {
      background: $background-hover;
    }
  }

  &:focus {
    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow, 60%);
    }
  }

  &:not(:disabled):not(.disabled):active {
    color: $color-active;

    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-active, 60%);
    }

    &::after {
      background: $background-active;
    }
  }

  @include disabled();
}

.f-btn {
  position: relative;
  display: inline-block;
  padding: px-to-rem(10px) px-to-rem(32px);
  font-size: px-to-rem(18px);
  font-weight: 400;
  line-height: px-to-rem(24px);
  text-align: center;
  background: none;
  border: none;
  border-radius: px-to-rem(8px);
  transition: all ease-in-out 0.15s;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    bottom: px-to-rem(2px);
    left: 5%;
    z-index: 0;
    width: 90%;
    height: px-to-rem(32px);
    content: '';
    border-radius: px-to-rem(16px);
    transition: all ease-in-out 0.15s;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: px-to-rem(8px);
    transition: all ease-in-out 0.15s;
  }

  &:not(:disabled):not(.disabled):hover {
    transform: translateY(px-to-rem(-2px));
  }

  &:not(:disabled):not(.disabled):active {
    transform: translateY(0);
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  :not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.f-btn-success {
  @include button-variant(
    $btn_success_bg,
    $btn_success_color,
    $btn_success_shadow
  );
}

.f-btn-gradient {
  &::after,
  &:hover::after,
  &:not(:disabled):not(.disabled):active::after,
  &:not(:disabled):not(.disabled).active::after {
    background: linear-gradient(
      130deg,
      custom($btn_success_bg, 30%, -10%) 11%,
      custom($btn_success_bg, 20%, -30%) 22%,
      custom($btn_success_bg, 20%, -30%) 32%,
      custom($btn_success_bg, 30%, -30%) 33%,
      custom($btn_success_bg, 20%, -50%) 55%,
      custom($btn_success_bg, 20%, -50%) 65%,
      custom($btn_success_bg, 30%, -50%) 66%,
      custom($btn_success_bg, 20%, -70%) 88%
    );
    background-position: 0 0;
    background-size: 300% 300%;
  }

  &:hover {
    &::after {
      background-position: 50% 50%;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &::after {
      background-position: 100% 100%;
    }
  }

  @include disabled();
}

.f-btn-gradient-custom {
  &::after,
  &:hover::after,
  &:not(:disabled):not(.disabled):active::after,
  &:not(:disabled):not(.disabled).active::after {
    background: $btn_success_gradient_custom;
    background-size: 120% 100%;
  }

  &:hover {
    &::after {
      background-position-x: 50%;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    &::after {
      background-position-x: 100%;
    }
  }

  @include disabled();
}

.f-btn-secondary {
  font-size: px-to-rem(16px);
  font-weight: 500;

  @include button-variant(
    $btn_secondary_bg,
    $btn_secondary_color,
    $btn_secondary_shadow,
    $btn_secondary_hover_bg,
    $btn_secondary_hover_color,
    $btn_secondary_hover_shadow,
    $btn_secondary_active_bg,
    $btn_secondary_active_color,
    $btn_secondary_active_shadow
  );

  &::before {
    box-shadow: none;
  }
}

.f-btn-block {
  display: block;
  width: 100%;
}

.f-btn-lg {
  padding: px-to-rem(16px) px-to-rem(32px);
}

.f-btn-link {
  text-align: left;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  outline: none;
}

.f-btn-link-default {
  color: $btn_link_color;
}

.f-btn-link-secondary {
  color: $btn_link_secondary_color;
}
