@mixin checkbox-variant(
  $bg,
  $border,
  $bg-hover,
  $border-hover,
  $color-hover,
  $bg-checked,
  $color-checked,
  $color-label
) {
  + .f-checkbox-label {
    color: $color-label;

    &::before {
      background-color: $bg;
      border-color: $border;

      .f-has-error & {
        border-color: $input_error_border;
      }
    }

    &:hover {
      &::before {
        background-color: $bg-hover;
        border-color: $border-hover;
      }

      &::after {
        border-color: $color-hover;
      }
    }
  }

  &:checked + .f-checkbox-label {
    &::before {
      background-color: $bg-checked;
    }

    &::after {
      border-color: $color-checked;
    }
  }
}

.f-checkbox {
  position: absolute;
  z-index: 1;
  width: px-to-rem(20px);
  opacity: 0;

  &:checked + .f-checkbox-label {
    &::before {
      border: none;
    }

    &::after {
      opacity: 1;
    }
  }
}

.f-checkbox-label {
  position: relative;
  padding: 0 0 0 px-to-rem(30px);
  font-size: px-to-rem(16px);
  cursor: pointer;

  &::before {
    position: absolute;
    top: px-to-rem(1px);
    left: 0;
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    content: '';
    border-style: solid;
    border-width: px-to-rem(1.5px);
    border-radius: px-to-rem(4px);
    transition: background-color ease-in-out 0.15s;
  }

  &::after {
    position: absolute;
    top: px-to-rem(6px);
    left: px-to-rem(5px);
    width: px-to-rem(10px);
    height: px-to-rem(7px);
    content: '';
    background: transparent;
    border-style: solid;
    border-width: px-to-rem(2px);
    border-top: none;
    border-right: none;
    opacity: 0;
    transition: opacity ease-in-out 0.15s;
    transform: rotate(-45deg);
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.f-form-item-sm > .f-checkbox-label {
  font-size: px-to-rem(12px);
  line-height: px-to-rem(22px);
}

.f-checkbox-default {
  @include checkbox-variant(
    $input_bg,
    $checkbox_default_border,
    $checkbox_default_hover_bg,
    $checkbox_default_hover_border,
    $checkbox_default_hover_color,
    $checkbox_default_checked_bg,
    $checkbox_default_checked_color,
    $label_color
  );
}

.f-checkbox-secondary {
  @include checkbox-variant(
    $input_bg,
    $checkbox_secondary_border,
    $checkbox_secondary_hover_bg,
    $checkbox_secondary_hover_border,
    $checkbox_secondary_hover_color,
    $checkbox_secondary_checked_bg,
    $checkbox_secondary_checked_color,
    $checkbox_secondary_label_color
  );
}
