$prefix: --fondy-;

$white: #fff;
$black: #000;

$main-bg: var(#{$prefix}main_bg);
$container_color: var(#{$prefix}container_color);
$container_bg: var(#{$prefix}container_bg);
$container_box_shadow: var(#{$prefix}container_box_shadow);
$sidebar_border: var(#{$prefix}sidebar_border);
$menu_item_color: var(#{$prefix}menu_item_color);
$menu_item_active_color: var(#{$prefix}menu_item_active_color);
$menu_item_active_bg: var(#{$prefix}menu_item_active_bg);
$menu_item_border: var(#{$prefix}menu_item_border);
$menu_icon_color: var(#{$prefix}menu_icon_color);
$menu_icon_active_color: var(#{$prefix}menu_icon_active_color);
$menu_icons_shadow: var(#{$prefix}menu_icons_shadow);
$menu_count_color: var(#{$prefix}menu_count_color);
$menu_count_active_color: var(#{$prefix}menu_count_active_color);
$menu_count_bg: var(#{$prefix}menu_count_bg);
$menu_count_active_bg: var(#{$prefix}menu_count_active_bg);
$merchant_name_color: var(#{$prefix}merchant_name_color);
$merchant_url_color: var(#{$prefix}merchant_url_color);
$order_desc_color: var(#{$prefix}order_desc_color);
$order_desc_more_color: var(#{$prefix}order_desc_more_color);
$amount_color: var(#{$prefix}amount_color);
$currency_color: var(#{$prefix}currency_color);
$card_shadow: var(#{$prefix}card_shadow);
$card_bg: var(#{$prefix}card_bg);
$card_label_color: var(#{$prefix}card_label_color);
$card_input_color: var(#{$prefix}card_input_color);
$card_input_shadow: var(#{$prefix}card_input_shadow);
$card_border: var(#{$prefix}card_border);
$enable_btn_successs_gradient: var(#{$prefix}enable_btn_successs_gradient);
$btn_success_color: var(#{$prefix}btn_success_color);
$btn_success_bg: var(#{$prefix}btn_success_bg);
$btn_success_shadow: var(#{$prefix}btn_success_shadow);
$btn_disabled_color: var(#{$prefix}btn_disabled_color);
$btn_disabled_bg: var(#{$prefix}btn_disabled_bg);
$input_bg: var(#{$prefix}input_bg);
$input_color: var(#{$prefix}input_color);
$input_border: var(#{$prefix}input_border);
$input_hover_border: var(#{$prefix}input_hover_border);
$input_focus_border: var(#{$prefix}input_focus_border);
$input_error_color: var(#{$prefix}input_error_color);
$input_error_border: var(#{$prefix}input_error_border);
$form_error_color: var(#{$prefix}form_error_color);
$label_color: var(#{$prefix}label_color);
$label_hover_color: var(#{$prefix}label_hover_color);
$label_focus_color: var(#{$prefix}label_focus_color);
$link_color: var(#{$prefix}link_color);
$tooltip_error_color: var(#{$prefix}tooltip_error_color);
$tooltip_error_bg: var(#{$prefix}tooltip_error_bg);
$tooltip_error_shadow: var(#{$prefix}tooltip_error_shadow);
$tooltip_default_color: var(#{$prefix}tooltip_default_color);
$tooltip_default_bg: var(#{$prefix}tooltip_default_bg);
$security_color: var(#{$prefix}security_color);
$security_hover_color: var(#{$prefix}security_hover_color);
$close_color: var(#{$prefix}close_color);
$modal_backdrop_bg: var(#{$prefix}modal_backdrop_bg);
$modal_content_color: var(#{$prefix}modal_content_color);
$modal_content_bg: var(#{$prefix}modal_content_bg);
