$prefix: --fondy-;

$white: #fff;
$black: #000;
$demo: #30d769;

$main: var(#{$prefix}main);
$main_bg: var(#{$prefix}main_bg);
$main_color: var(#{$prefix}main_color);
$container_bg: var(#{$prefix}container_bg);
$container_box_shadow: var(#{$prefix}container_box_shadow);
$sidebar_border: var(#{$prefix}sidebar_border);
$title_color: var(#{$prefix}title_color);
$menu_item_color: var(#{$prefix}menu_item_color);
$menu_item_lg_color: var(#{$prefix}menu_item_lg_color);
$menu_item_border: var(#{$prefix}menu_item_border);
$menu_icon_color: var(#{$prefix}menu_icon_color);
$menu_icon_lg_color: var(#{$prefix}menu_icon_lg_color);
$menu_item_hover_bg: var(#{$prefix}menu_item_hover_bg);
$menu_item_active_color: var(#{$prefix}menu_item_active_color);
$menu_item_active_bg: var(#{$prefix}menu_item_active_bg);
$menu_icon_active_color: var(#{$prefix}menu_icon_active_color);
$menu_icons_shadow: var(#{$prefix}menu_icons_shadow);
$menu_count_color: var(#{$prefix}menu_count_color);
$menu_count_active_color: var(#{$prefix}menu_count_active_color);
$menu_count_bg: var(#{$prefix}menu_count_bg);
$menu_count_active_bg: var(#{$prefix}menu_count_active_bg);
$merchant_name_color: var(#{$prefix}merchant_name_color);
$merchant_url_color: var(#{$prefix}merchant_url_color);
$order_desc_color: var(#{$prefix}order_desc_color);
$order_desc_more_color: var(#{$prefix}order_desc_more_color);
$amount_color: var(#{$prefix}amount_color);
$currency_color: var(#{$prefix}currency_color);
$card_shadow: var(#{$prefix}card_shadow);
$card_shadow_custom: var(#{$prefix}card_shadow_custom);
$card_bg: var(#{$prefix}card_bg);
$card_img: var(#{$prefix}card_img);
$card_gradient_custom: var(#{$prefix}card_gradient_custom);
$card_label_color: var(#{$prefix}card_label_color);
$card_input_color: var(#{$prefix}card_input_color);
$card_input_shadow: var(#{$prefix}card_input_shadow);
$card_list_item_active_bg: var(#{$prefix}card_list_item_active_bg);
$card_list_number_color: var(#{$prefix}card_list_number_color);
$card_list_expiry_date_color: var(#{$prefix}card_list_expiry_date_color);
$enable_btn_successs_gradient: var(#{$prefix}enable_btn_successs_gradient);
$btn_success_color: var(#{$prefix}btn_success_color);
$btn_success_bg: var(#{$prefix}btn_success_bg);
$btn_success_shadow: var(#{$prefix}btn_success_shadow);
$btn_success_gradient_custom: var(#{$prefix}btn_success_gradient_custom);
$btn_default_color: var(#{$prefix}btn_default_color);
$btn_default_bg: var(#{$prefix}btn_default_bg);
$btn_default_hover_color: var(#{$prefix}btn_default_hover_color);
$btn_default_hover_bg: var(#{$prefix}btn_default_hover_bg);
$btn_default_hover_shadow: var(#{$prefix}btn_default_hover_shadow);
$btn_default_active_color: var(#{$prefix}btn_default_active_color);
$btn_default_active_bg: var(#{$prefix}btn_default_active_bg);
$btn_default_active_shadow: var(#{$prefix}btn_default_active_shadow);
$btn_secondary_color: var(#{$prefix}btn_secondary_color);
$btn_secondary_bg: var(#{$prefix}btn_secondary_bg);
$btn_secondary_hover_color: var(#{$prefix}btn_secondary_hover_color);
$btn_secondary_hover_bg: var(#{$prefix}btn_secondary_hover_bg);
$btn_secondary_hover_shadow: var(#{$prefix}btn_secondary_hover_shadow);
$btn_secondary_active_color: var(#{$prefix}btn_secondary_active_color);
$btn_secondary_active_bg: var(#{$prefix}btn_secondary_active_bg);
$btn_secondary_active_shadow: var(#{$prefix}btn_secondary_active_shadow);
$btn_outline_bg: var(#{$prefix}btn_outline_bg);
$btn_outline_border: var(#{$prefix}btn_outline_border);
$btn_outline_color: var(#{$prefix}btn_outline_color);
$btn_outline_hover_bg: var(#{$prefix}btn_outline_hover_bg);
$btn_outline_hover_border: var(#{$prefix}btn_outline_hover_border);
$btn_outline_hover_color: var(#{$prefix}btn_outline_hover_color);
$btn_outline_active_bg: var(#{$prefix}btn_outline_active_bg);
$btn_outline_active_border: var(#{$prefix}btn_outline_active_border);
$btn_outline_active_color: var(#{$prefix}btn_outline_active_color);
$btn_disabled_color: var(#{$prefix}btn_disabled_color);
$btn_disabled_bg: var(#{$prefix}btn_disabled_bg);
$btn_link_default_color: var(#{$prefix}btn_link_default_color);
$btn_link_default_hover_color: var(#{$prefix}btn_link_default_hover_color);
$btn_link_default_active_color: var(#{$prefix}btn_link_default_active_color);
$btn_link_secondary_color: var(#{$prefix}btn_link_secondary_color);
$btn_link_secondary_hover_color: var(#{$prefix}btn_link_secondary_hover_color);
$btn_link_secondary_active_color: var(
  #{$prefix}btn_link_secondary_active_color
);
$input_bg: var(#{$prefix}input_bg);
$input_color: var(#{$prefix}input_color);
$input_border: var(#{$prefix}input_border);
$input_hover_bg: var(#{$prefix}input_hover_bg);
$input_hover_border: var(#{$prefix}input_hover_border);
$input_focus_border: var(#{$prefix}input_focus_border);
$input_error_color: var(#{$prefix}input_error_color);
$input_error_border: var(#{$prefix}input_error_border);
$input_readonly_color: var(#{$prefix}input_readonly_color);
$input_prepend_color: var(#{$prefix}input_prepend_color);
$checkbox_default_border: var(#{$prefix}checkbox_default_border);
$checkbox_default_hover_bg: var(#{$prefix}checkbox_default_hover_bg);
$checkbox_default_hover_border: var(#{$prefix}checkbox_default_hover_border);
$checkbox_default_hover_color: var(#{$prefix}checkbox_default_hover_color);
$checkbox_default_checked_bg: var(#{$prefix}checkbox_default_checked_bg);
$checkbox_default_checked_color: var(#{$prefix}checkbox_default_checked_color);
$checkbox_secondary_border: var(#{$prefix}checkbox_secondary_border);
$checkbox_secondary_hover_bg: var(#{$prefix}checkbox_secondary_hover_bg);
$checkbox_secondary_hover_border: var(
  #{$prefix}checkbox_secondary_hover_border
);
$checkbox_secondary_hover_color: var(#{$prefix}checkbox_secondary_hover_color);
$checkbox_secondary_checked_bg: var(#{$prefix}checkbox_default_checked_color);
$checkbox_secondary_checked_color: var(
  #{$prefix}checkbox_secondary_checked_color
);
$checkbox_secondary_label_color: var(#{$prefix}checkbox_secondary_label_color);
$switch_bg: var(#{$prefix}switch_bg);
$switch_indicator_bg: var(#{$prefix}switch_indicator_bg);
$switch_hover_bg: var(#{$prefix}switch_hover_bg);
$switch_checked_bg: var(#{$prefix}switch_checked_bg);
$text_error_color: var(#{$prefix}text_error_color);
$label_color: var(#{$prefix}label_color);
$label_hover_color: var(#{$prefix}label_hover_color);
$label_focus_color: var(#{$prefix}label_focus_color);
$link_color: var(#{$prefix}link_color);
$tooltip_error_color: var(#{$prefix}tooltip_error_color);
$tooltip_card_color: var(#{$prefix}tooltip_card_color);
$tooltip_cvv_color: var(#{$prefix}tooltip_cvv_color);
$tooltip_light_bg: var(#{$prefix}tooltip_light_bg);
$tooltip_light_shadow: var(#{$prefix}tooltip_light_shadow);
$tooltip_dark_color: var(#{$prefix}tooltip_dark_color);
$tooltip_dark_bg: var(#{$prefix}tooltip_dark_bg);
$tooltip_icons_shadow: var(#{$prefix}tooltip_icons_shadow);
$icon_color: var(#{$prefix}icon_color);
$security_icon_color: var(#{$prefix}security_icon_color);
$security_color: var(#{$prefix}security_color);
$security_icon_hover_color: var(#{$prefix}security_icon_hover_color);
$security_hover_color: var(#{$prefix}security_hover_color);
$close_color: var(#{$prefix}close_color);
$modal_backdrop_bg: var(#{$prefix}modal_backdrop_bg);
$modal_content_color: var(#{$prefix}modal_content_color);
$modal_content_bg: var(#{$prefix}modal_content_bg);
$modal_title_color: var(#{$prefix}modal_title_color);
$modal_security_title_color: var(#{$prefix}modal_security_title_color);
$modal_security_title_svg_color: var(#{$prefix}modal_security_title_svg_color);
$bank_item_color: var(#{$prefix}bank_item_color);
$bank_item_hover_color: var(#{$prefix}bank_item_hover_color);
$bank_icon_shadow: var(#{$prefix}bank_icon_shadow);
$bank_view_icon_active_bg: var(#{$prefix}bank_view_icon_active_bg);
$bank_view_icon_active_color: var(#{$prefix}bank_view_icon_active_color);
$bank_select_bg: var(#{$prefix}bank_select_bg);
$bank_select_close_color: var(#{$prefix}bank_select_close_color);
$bank_select_close_hover_color: var(#{$prefix}bank_select_close_hover_color);
$datepicker_shadow: var(#{$prefix}datepicker_shadow);
$datepicker_bg: var(#{$prefix}datepicker_bg);
$datepicker_cell_color: var(#{$prefix}datepicker_cell_color);
$datepicker_cell_today_color: var(#{$prefix}datepicker_cell_today_color);
$datepicker_cell_today_bg: var(#{$prefix}datepicker_cell_today_bg);
$datepicker_cell_hover_color: var(#{$prefix}datepicker_cell_hover_color);
$datepicker_cell_hover_bg: var(#{$prefix}datepicker_cell_hover_bg);
$datepicker_cell_active_color: var(#{$prefix}datepicker_cell_active_color);
$datepicker_cell_active_bg: var(#{$prefix}datepicker_cell_active_bg);
$datepicker_cell_disabled_color: var(#{$prefix}datepicker_cell_disabled_color);
$datepicker_cell_not_current_month_color: var(
  #{$prefix}datepicker_cell_not_current_month_color
);
$datepicker_th_color: var(#{$prefix}datepicker_th_color);
$datepicker_btn_text_color: var(#{$prefix}datepicker_btn_text_color);
$alert_info_color: var(#{$prefix}alert_info_color);
$alert_info_bg: var(#{$prefix}alert_info_bg);
$scrollbar_thumb_bg: var(#{$prefix}scrollbar_thumb_bg);
$receipt_props_bg: var(#{$prefix}receipt_props_bg);
$receipt_value_color: var(#{$prefix}receipt_value_color);
$logo_color: var(#{$prefix}logo_color);
$subscription_bg: var(#{$prefix}subscription_bg);
