.f-form-group {
  position: relative;
  margin-bottom: px-to-rem(16px);
}

.f-form-group-inner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.f-form-group-inner-select {
  background-color: $input_bg;
  border-radius: px-to-rem(8px);
}

.f-form-control {
  display: block;
  width: 100%;
  height: px-to-rem(56px);
  padding: px-to-rem(26px) $input-padding-start px-to-rem(8px);
  font-size: px-to-rem(16px);
  font-weight: 500;
  color: $input_color;
  background-color: $input_bg;
  border: $input-border-width solid $input_border;
  border-radius: px-to-rem(8px);
  transition: all ease-in-out 0.15s;

  &:-webkit-autofill {
    @include plain-hover-focus-active() {
      transition: background-color 99999s;
    }
    -webkit-text-fill-color: $input_color;

    &::first-line {
      font-size: px-to-rem(16px);
      font-weight: 500;
      color: $input_color;
    }
  }

  &:hover {
    background-color: $input_hover_bg;
    border-color: $input_hover_border;
  }

  &:focus {
    position: relative;
    z-index: 1; // f-input-group
    padding-left: $input-focus-padding-start;
    border-color: $input_focus_border;
    border-width: $input-focus-border-width;
    outline: 0;
  }

  &[disabled],
  .f-disabled > & {
    color: $input_readonly_color;
    border-color: $input_border;
    -webkit-text-fill-color: $input_readonly_color;
    opacity: 1;
  }

  &:-webkit-autofill + .f-control-label-p {
    transform: translateY(-8px) scale(0.75);
  }

  .f-has-error & {
    padding-left: $input-error-padding-start;
    color: $input_error_color;
    border: $input-error-border-width solid $input_error_border;

    &:focus {
      padding-left: $input-focus-padding-start;
      border-color: $input_focus_border;
      border-width: $input-focus-border-width;
    }
  }

  &[type='text'],
  &[type='tel'],
  &[type='date'] {
    appearance: none;
  }
}

.f-control-sm {
  height: px-to-rem(44px);
  padding: px-to-rem(15px) px-to-rem(12px) px-to-rem(5px);
}

.f-form-item-sm + .f-control-label-p {
  top: px-to-rem(10px);
}

.f-form-control-select-wrapper {
  position: relative;
  z-index: 1;
}

.f-form-control-select {
  padding-right: px-to-rem(24px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right px-to-rem(8px) center;
  appearance: none;

  // Hides the default caret in IE11
  &::-ms-expand {
    display: none;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $input_color;
  }

  &:hover {
    background-color: inherit;
  }

  &[disabled] {
    opacity: 1;
  }

  > option {
    color: initial;
  }

  .f-theme-dark & {
    background-image: escape-svg($input-select-arrow-dark);
  }

  .f-theme-light & {
    background-image: escape-svg($input-select-arrow-light);
  }
}

.f-form-control-description {
  margin-bottom: px-to-rem(8px);
  font-size: px-to-rem(14px);
}

.f-control-label {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
  color: $label_color;
}

.f-control-label-p {
  position: absolute;
  top: px-to-rem(17px);
  right: px-to-rem(28px);
  left: px-to-rem(12px);
  transition: transform ease-in-out 0.15s;
  transform-origin: 0 0;
  @include text-truncate();

  &.f-control-label-active {
    z-index: 1; // f-input-group
    transform: translateY(-8px) scale(0.75);
  }

  .f-form-group-amount & {
    padding-right: px-to-rem(40px);
  }
}

.f-control-label-hover {
  color: $label_hover_color;
}

.f-control-label-focused {
  color: $label_focus_color;
}

.f-form-control[disabled] + .f-control-label,
.f-disabled > .f-control-label {
  color: $label_color;
}

.f-error {
  margin-top: px-to-rem(4px);
  font-weight: 500;
  color: $text_error_color;
}

.f-form-control-prepend {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  color: $input_prepend_color;

  + div .f-form-control {
    padding-left: px-to-rem(40px);

    &:focus {
      // stylelint-disable-next-line scss/operator-no-newline-after
      padding-left: px-to-rem(40px) -
        ($input-focus-border-width - $input-border-width);
    }
  }

  ~ .f-control-label-p {
    left: px-to-rem(40px);
  }
}

.f-form-control-no-label {
  padding-top: px-to-rem(8px);
}
