.f-form-group {
  position: relative;
  margin-bottom: px-to-rem(16px);
}

.f-form-control {
  display: block;
  width: 100%;
  height: px-to-rem(56px);
  padding: px-to-rem(26px) px-to-rem(12px) px-to-rem(8px);
  font-size: px-to-rem(16px);
  font-weight: 500;
  color: $input_color;
  background-color: $input_bg;
  border: 1px solid $input_border;
  border-radius: px-to-rem(8px);
  transition: color ease-in-out 0.15s;

  &:-webkit-autofill {
    &::first-line {
      font-size: px-to-rem(16px);
      font-weight: 500;
      color: $input_color;
    }
  }

  &:hover {
    border-color: $input_hover_border;
  }

  &:focus {
    border-color: $input_focus_border;
    border-width: px-to-rem(1.5px);
    outline: none;
  }

  &:-webkit-autofill + .f-control-label-p {
    transform: translateY(-8px) scale(0.75);
  }

  .f-has-error & {
    color: $input_error_color;
    border: 2px solid $input_error_border;

    &:focus {
      border-color: $input_focus_border;
      border-width: px-to-rem(1.5px);
    }
  }
}

.f-form-control-select {
  position: relative;
  z-index: 1;
  padding-left: px-to-rem(8px);
  background-color: transparent;

  & + .f-control-label-p {
    z-index: 0;
  }

  & > option {
    color: initial;
  }
}

.f-control-sm {
  height: px-to-rem(44px);
  padding: px-to-rem(15px) px-to-rem(12px) px-to-rem(5px);

  & + .f-control-label-p {
    top: px-to-rem(12px);
  }
}

.f-control-label {
  font-size: px-to-rem(16px);
  color: $label_color;
}

.f-control-label-p {
  position: absolute;
  top: px-to-rem(17px);
  right: 0;
  left: px-to-rem(12px);
  transition: transform ease-in-out 0.15s;
  transform-origin: 0 0;
  @include text-truncate();

  &.f-control-label-active {
    transform: translateY(-8px) scale(0.75);
  }
}

.f-control-label-hover {
  color: $label_hover_color;
}

.f-control-label-focused {
  color: $label_focus_color;
}

.f-error {
  font-weight: 500;
  color: $form_error_color;
}

.f-form-control-prepend {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  color: $input_prepend_color;

  & + .f-form-control {
    padding-left: px-to-rem(40px);
  }

  & ~ .f-control-label-p {
    left: px-to-rem(40px);
  }
}
