@mixin form-control-variant(
  $bg,
  $border,
  $color,
  $bg-hover,
  $border-hover,
  $border-focus,
  $color-disabled
) {
  color: $color;
  background-color: $bg;
  border-color: $border;

  &:-webkit-autofill {
    -webkit-text-fill-color: $color;

    &::first-line {
      color: $color;
    }
  }

  &:hover {
    background-color: $bg-hover;
    border-color: $border-hover;
  }

  &:focus {
    border-color: $border-focus;
  }

  &[disabled],
  .f-disabled > & {
    color: $color-disabled;
    border-color: $border;
    -webkit-text-fill-color: $color-disabled;
  }
}

.f-form-group-inner {
  position: relative;
}

.f-form-group-inner-select {
  background-color: $input_bg;
  border-radius: px-to-rem(8px);
}

.f-form-control {
  --border: #{px-to-rem(1px)};

  display: block;
  width: 100%;
  height: px-to-rem(56px);
  padding: px-to-rem(26px) calc(#{px-to-rem(12px)} - var(--border))
    px-to-rem(8px);
  font-size: px-to-rem(16px);
  font-weight: 500;
  border-style: solid;
  border-width: var(--border);
  border-radius: px-to-rem(8px);
  transition: color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    border-color ease-in-out 0.15s;

  &:-webkit-autofill {
    @include plain-hover-focus-active() {
      transition: background-color 99999s;
    }

    &::first-line {
      font-size: px-to-rem(16px);
      font-weight: 500;
    }
  }

  &:focus {
    --border: #{px-to-rem(1px)};
  }

  &[disabled],
  .f-disabled > & {
    opacity: 1;
  }

  &:-webkit-autofill + .f-control-label-floating {
    transform: translateY(-8px) scale(0.75);
  }

  &[type='text'],
  &[type='tel'],
  &[type='date'] {
    appearance: none;
  }
}

.f-form-control-no-floating {
  padding-top: px-to-rem(8px);
}

.f-form-control-default {
  @include form-control-variant(
    $input_bg,
    $input_border,
    $input_color,
    $input_hover_bg,
    $input_hover_border,
    $input_focus_border,
    $input_disabled_color
  );
}

.f-form-control-secondary {
  @include form-control-variant(
    $input_secondary_bg,
    $input_secondary_border,
    $input_secondary_color,
    $input_secondary_hover_bg,
    $input_secondary_hover_border,
    $input_secondary_focus_border,
    $input_secondary_disabled_color
  );
}

.f-control-error {
  --border: #{px-to-rem(2px)};
  color: $error;
  border-color: $error;
}

.f-control-sm {
  height: px-to-rem(44px);
  padding: px-to-rem(15px) px-to-rem(12px) px-to-rem(5px);
}

.f-control-48 {
  height: px-to-rem(48px);
}

.f-form-control-select-wrapper {
  position: relative;
  z-index: 1;
}

.f-form-control-select {
  padding-right: px-to-rem(24px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right px-to-rem(8px) center;
  appearance: none;

  // Hides the default caret in IE11
  &::-ms-expand {
    display: none;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $input_color;
  }

  &:hover {
    background-color: inherit;
  }

  &[disabled] {
    opacity: 1;
  }

  > option {
    color: initial;
  }

  .f-theme-dark & {
    background-image: escape-svg($input-select-arrow-dark);
  }

  .f-theme-light & {
    background-image: escape-svg($input-select-arrow-light);
  }
}

.f-control-label-floating {
  position: absolute;
  top: px-to-rem(17px);
  right: px-to-rem(28px);
  left: px-to-rem(12px);
  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
  color: $label_color;
  transition: transform ease-in-out 0.15s;
  transform-origin: 0 0;
  @include text-truncate();

  &.f-control-label-active {
    transform: translateY(-8px) scale(0.75);
  }

  .f-form-group-amount & {
    padding-right: px-to-rem(40px);
  }
}

.f-control-label-floating-sm {
  top: px-to-rem(10px);
}

.f-control-label-hover {
  color: $label_hover_color;
}

.f-control-label-focused {
  color: $label_focus_color;
}

.f-form-control[disabled] + .f-control-label-floating,
.f-disabled > .f-control-label-floating {
  color: $label_color;
}

.f-error {
  margin-top: px-to-rem(4px);
  font-weight: 500;
  color: $error;
}

.f-form-control-prepend {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: $input_prepend_color;

  ~ div .f-form-control {
    padding-left: calc(#{px-to-rem(40px)} - var(--border));
  }

  ~ .f-control-label-floating {
    left: px-to-rem(40px);
  }
}

.f-form-control-prepend-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: px-to-rem(12px);
  display: flex;
  align-items: center;
  color: $input_prepend_color;

  ~ div .f-form-control {
    padding-left: calc(#{px-to-rem(60px)} - var(--border));
  }
}

.f-form-control-no-label {
  padding-top: px-to-rem(8px);
}
