.f-row {
  @include make-row();
}

.f-no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .f-col,
  > [class*='f-col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.f-col {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

@include make-grid-columns();
