.f-icon {
  display: inline-block;
  vertical-align: middle;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 90%;
}

.f-icon-block {
  display: block;
  width: 100%;
  background-size: contain;
}

.f-icon-contain {
  background-size: contain;
}

.f-icon-sm {
  width: px-to-rem(24px);
  height: px-to-rem(24px);
  background-size: contain;
}

.f-icon-md {
  width: px-to-rem(48px);
  height: px-to-rem(48px);
  background-size: contain;
}

.f-icon-lg {
  width: px-to-rem(64px);
  height: px-to-rem(64px);
  background-size: contain;
}

// stylelint-disable-next-line selector-class-pattern
.f-icon-no_logo {
  background-image: url('../assets/no_logo.svg');
}
