.f-input-group {
  @extend .f-row;
  @extend .f-no-gutters;

  > :first-child .f-form-control {
    border-right: none;
    border-radius: px-to-rem(8px) 0 0 px-to-rem(8px);
  }

  > :last-child {
    .f-form-control,
    .f-form-group-inner-select {
      border-radius: 0 px-to-rem(8px) px-to-rem(8px) 0;
    }

    .f-form-control {
      border-left: none;
    }
  }

  .f-form-group {
    margin: 0;

    &::after {
      position: absolute;
      top: px-to-rem(8px);
      right: 0;
      width: px-to-rem(1px);
      height: px-to-rem(40px);
      content: '';
      background-color: $input_border;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
