//
// Modals
// --------------------------------------------------

// .f-modal-open      - body class for killing the scroll
// .f-modal           - container to scroll within
// .f-modal-dialog    - positioning shell for the actual modal
// .f-modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.f-modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.f-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  -webkit-overflow-scrolling: touch;

  // When fading in the modal, animate it to slide down
  &.fade .f-modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%);
  }

  &.in .f-modal-dialog {
    transform: translate(0, 0);
  }
}

.f-modal-open .f-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.f-modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.f-modal-content {
  position: relative;
  padding: 0 $modal-padding;
  background-color: #fff;

  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 10px;
  // Remove focus outline from opened modal
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

// Modal background
html {
  .f-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    background-color: #000;
    // Fade for backdrop
    &.fade {
      opacity: 0;
    }

    &.in {
      opacity: $modal-backdrop-opacity;
    }
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.f-modal-header {
  padding: $modal-padding 0;
  border-bottom: 2px solid #000;
  //&:extend(.clearfix all);
}
// Close icon
.f-modal-header .close {
  margin-top: -2px;
}

// Title text within header
.f-modal-title {
  margin: 0;
}

// Modal body
// Where all modal content resides (sibling of .f-modal-header and .f-modal-footer)
.f-modal-body {
  position: relative;
  padding: $modal-padding 0;
}

// Footer (for actions)
.f-modal-footer {
  padding: $modal-padding 0;
  text-align: right; // right align buttons
  border-top: 2px solid #000;
  // clear it in case folks use .pull-* classes on buttons
  //&:extend(.clearfix all);

  // Properly space out buttons
  .f-btn + .f-btn {
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    margin-left: 5px;
  }
  // but override that for button groups
  .f-btn-group .f-btn + .f-btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .f-btn-block + .f-btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.f-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(md) {
  // Automatically set modal's width for larger viewports
  .f-modal-dialog {
    width: $modal-md;
    margin: 30px auto;
  }

  .f-modal-content {
    box-shadow: 0 16px 16px 0 #000;
  }

  // Modal sizes
  .f-modal-sm {
    width: $modal-sm;
  }
}

@include media-breakpoint-up(lg) {
  .f-modal-lg {
    width: $modal-lg;
  }
}
