.f-preloader {
  height: px-to-rem(56px);
  background: linear-gradient(
    120deg,
    $preloader_bg 41%,
    $preloader_inner_bg 50%,
    $preloader_bg 59%
  );
  background-size: 200% 100%;
  border-radius: px-to-rem(8px);
  animation: f-preloader 2s ease-in-out infinite;
}

.f-preloader-20 {
  height: px-to-rem(20px);
}

.f-preloader-48 {
  height: px-to-rem(48px);
}

.f-preloader-xs {
  height: px-to-rem(20px);
}

.f-preloader-sm {
  height: px-to-rem(38px);
}

@keyframes f-preloader {
  0% {
    background-position: 80% 0;
  }
  50% {
    background-position: 20% 0;
  }
  100% {
    background-position: 80% 0;
  }
}
