.f-select-no-floating {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    text-decoration: none;
  }
}

.f-select-floating {
  display: flex;
  align-items: center;

  svg {
    margin-top: px-to-rem(-16px);
  }
}

.f-select-default-item {
  display: flex;
  width: 100%;
  padding: px-to-rem(3px) px-to-rem(8px);
  font-size: px-to-rem(14px);
  font-weight: 400;
  line-height: px-to-rem(20px);
  color: #5a6470;
  border-radius: px-to-rem(4px);

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background: #f2f3f5;
  }
}

.f-select-secondary-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: px-to-rem(14px) px-to-rem(12px);
  font-size: px-to-rem(16px);
  font-weight: 400;
  line-height: px-to-rem(20px);
  color: #5a6470;
  cursor: pointer;
  border-top: px-to-rem(1px) solid #eef0f2;
  transition:
    background-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;

  &:first-of-type {
    border-top: none;
  }

  &:hover {
    background-color: $card_list_item_hover_bg;
  }
}

.f-select-secondary-item:hover,
.f-select-secondary-item:focus,
.f-select-secondary-item_active,
.f-select-secondary-item_focus {
  text-decoration: none;
  border-color: transparent;
  border-radius: px-to-rem(8px);

  + .f-select-secondary-item {
    border-color: transparent;
  }
}

.f-select-secondary-item_focus {
  background-color: $card_list_item_hover_bg;
}

.f-select-secondary-item_active {
  background-color: $card_list_item_active_bg;
}

.f-select-card-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: px-to-rem(60px);
  padding: px-to-rem(10px);
  margin-bottom: px-to-rem(4px);
  color: $main_color;
  cursor: pointer;
  border-radius: 0;
  transition:
    background-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $card_list_item_hover_bg;
  }
}

.f-select-card-item_active {
  background-color: $card_list_item_active_bg;
}

.f-select-arrow-wrapper {
  display: flex;
  padding-left: px-to-rem(6px);
  margin-left: auto;
}

.f-select-arrow {
  color: $label_color;
  transition: transform 0.225s cubic-bezier(0.4, 0, 0.6, 1);
  transform: rotate(0deg);
}

.f-select-arrow-open {
  color: $input_color;
  transform: rotate(-180deg);
}

.f-select-search {
  padding-top: px-to-rem(20px);
  padding-bottom: px-to-rem(20px);
  margin-top: px-to-rem(-20px);
  background-image: linear-gradient(
    to bottom,
    $white,
    $white calc(100% - #{px-to-rem(20px)}),
    fade($white, 0)
  );
  @include sticky-top(px-to-rem(-20px));
}
