$switch-width: px-to-rem(40px);
$switch-height: px-to-rem(22px);
$switch-indicator-size: px-to-rem(16px);
// stylelint-disable-next-line scss/operator-no-newline-after
$switch-indicator-transform: $switch-width - $switch-indicator-size -
  ($switch-height - $switch-indicator-size);

.f-switch {
  position: absolute;
  left: 0;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  width: $switch-indicator-size;
  height: ($font-size-base * $line-height-base + $switch-indicator-size) / 2;
  opacity: 0;

  &:checked + .f-switch-label {
    &::before {
      background-color: $switch_checked_bg;
    }

    &::after {
      box-shadow: 0 px-to-rem(2px) px-to-rem(4px) rgba(0, 0, 0, 0.25);
      transform: translateX($switch-indicator-transform);
    }
  }
}

.f-switch-label {
  $padding: px-to-rem(3px);
  position: relative;
  right: -$padding;
  display: block;
  padding: $padding $switch-width + $padding $padding $padding;
  cursor: pointer;

  &::before {
    position: absolute;
    top: ($font-size-base * $line-height-base - $switch-height) / 2 + $padding;
    right: $padding;
    display: block;
    width: $switch-width;
    height: $switch-height;
    pointer-events: all;
    content: '';
    background-color: $switch_bg;
    border-radius: px-to-rem(15px);
    transition: background-color ease-in-out 0.15s;
  }

  &::after {
    position: absolute;
    // stylelint-disable-next-line scss/operator-no-newline-after
    top: ($font-size-base * $line-height-base - $switch-indicator-size) / 2 +
      $padding;
    // stylelint-disable-next-line scss/operator-no-newline-after
    right: $switch-width - $switch-indicator-size -
      ($switch-height - $switch-indicator-size) / 2 + $padding;
    width: $switch-indicator-size;
    height: $switch-indicator-size;
    content: '';
    background-color: $switch_indicator_bg;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  &:hover {
    &::before {
      background-color: $switch_hover_bg;
    }
    &::after {
      box-shadow: 0 px-to-rem(2px) px-to-rem(4px) rgba(0, 0, 0, 0.25);
    }
  }
}
