// Tooltips

$tooltip-border-radius: px-to-rem(8px);
$tooltip-arrow-width: px-to-rem(10px);
$tooltip-arrow-height: px-to-rem(7px);

.f-tooltip {
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  margin: 0;
  word-wrap: break-word;
  outline: 0;

  .f-tooltip-arrow {
    position: absolute;
    display: block;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;
    margin: 0 $tooltip-border-radius;

    &::before {
      position: absolute;
      content: '';
      border-color: transparent;
      border-style: solid;
    }
  }

  &.noninteractive {
    pointer-events: none;
  }

  &.f-tooltip-right,
  &.f-tooltip-left {
    .f-tooltip-arrow {
      margin: $tooltip-border-radius 0;
    }
  }
}

.f-tooltip-under-sticky {
  z-index: $zindex-tooltip-under-sticky;
}

.f-tooltip-top {
  padding: $tooltip-arrow-height 0;

  .f-tooltip-arrow {
    bottom: 0;

    &::before {
      top: 0;
      border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
    }
  }
}

.f-tooltip-right {
  padding: 0 $tooltip-arrow-height;

  .f-tooltip-arrow {
    left: 0;
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
      right: 0;
      border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height
        ($tooltip-arrow-width / 2) 0;
    }
  }
}

.f-tooltip-bottom {
  padding: $tooltip-arrow-height 0;

  .f-tooltip-arrow {
    top: 0;

    &::before {
      bottom: 0;
      border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
    }
  }
}

.f-tooltip-left {
  padding: 0 $tooltip-arrow-height;

  .f-tooltip-arrow {
    right: 0;
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
      left: 0;
      border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2)
        $tooltip-arrow-height;
    }
  }
}

.f-tooltip-auto {
  &[x-placement^='top'] {
    @extend .f-tooltip-top;
  }
  &[x-placement^='right'] {
    @extend .f-tooltip-right;
  }
  &[x-placement^='bottom'] {
    @extend .f-tooltip-bottom;
  }
  &[x-placement^='left'] {
    @extend .f-tooltip-left;
  }
}

.f-tooltip-inner {
  display: flex;
  width: 100%;
  max-width: px-to-rem(300px);
  padding: px-to-rem(16px);
  font-weight: 500;
  border-radius: $tooltip-border-radius;

  .f-svg {
    margin: px-to-rem(2px) px-to-rem(8px) 0 0;
  }
}

@mixin tooltip-variant($bg) {
  // stylelint-disable-next-line selector-no-qualifying-type
  &.f-tooltip-top .f-tooltip-arrow::before {
    border-top-color: $bg;
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  &.f-tooltip-right .f-tooltip-arrow::before {
    border-right-color: $bg;
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  &.f-tooltip-bottom .f-tooltip-arrow::before {
    border-bottom-color: $bg;
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  &.f-tooltip-left .f-tooltip-arrow::before {
    border-left-color: $bg;
  }

  .f-tooltip-inner {
    background-color: $bg;
  }
}

.f-tooltip-dark {
  @include tooltip-variant($tooltip_dark_bg);

  .f-tooltip-inner {
    color: $tooltip_dark_color;
    border-radius: px-to-rem(6px);
    opacity: 0.95;
  }
}

.f-tooltip-light {
  @include tooltip-variant($tooltip_light_bg);

  .f-tooltip-inner {
    box-shadow: 0 8px 32px fade($tooltip_light_shadow, 50%);
  }
}
