// Tooltips

$tooltip-max-width: 200px;
$tooltip-border-radius: px-to-rem(8px);
$tooltip-padding-y: px-to-rem(16px);
$tooltip-padding-x: px-to-rem(16px);
$tooltip-arrow-width: px-to-rem(10px);
$tooltip-arrow-height: px-to-rem(7px);

html {
  .f-tooltip {
    position: absolute;
    z-index: $zindex-tooltip;
    display: block;
    margin: 0;
    word-wrap: break-word;

    .f-tooltip-arrow {
      position: absolute;
      display: block;
      width: $tooltip-arrow-width;
      height: $tooltip-arrow-height;
      margin: 0 $tooltip-border-radius;

      &::before {
        position: absolute;
        content: '';
        border-color: transparent;
        border-style: solid;
      }
    }

    &.noninteractive {
      pointer-events: none;
    }

    &.f-tooltip-right,
    &.f-tooltip-left {
      .f-tooltip-arrow {
        margin: $tooltip-border-radius 0;
      }
    }
  }

  .f-tooltip-top {
    padding: $tooltip-arrow-height 0;

    .f-tooltip-arrow {
      bottom: 0;

      &::before {
        top: 0;
        border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
        border-top-color: $tooltip_bg;
      }
    }
  }

  .f-tooltip-right {
    padding: 0 $tooltip-arrow-height;

    .f-tooltip-arrow {
      left: 0;
      width: $tooltip-arrow-height;
      height: $tooltip-arrow-width;

      &::before {
        right: 0;
        border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height
          ($tooltip-arrow-width / 2) 0;
        border-right-color: $tooltip_bg;
      }
    }
  }

  .f-tooltip-bottom {
    padding: $tooltip-arrow-height 0;

    .f-tooltip-arrow {
      top: 0;

      &::before {
        bottom: 0;
        border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
        border-bottom-color: $tooltip_bg;
      }
    }
  }

  .f-tooltip-left {
    padding: 0 $tooltip-arrow-height;

    .f-tooltip-arrow {
      right: 0;
      width: $tooltip-arrow-height;
      height: $tooltip-arrow-width;

      &::before {
        left: 0;
        border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2)
          $tooltip-arrow-height;
        border-left-color: $tooltip_bg;
      }
    }
  }

  .f-tooltip-auto {
    &[x-placement^='top'] {
      @extend .f-tooltip-top;
    }
    &[x-placement^='right'] {
      @extend .f-tooltip-right;
    }
    &[x-placement^='bottom'] {
      @extend .f-tooltip-bottom;
    }
    &[x-placement^='left'] {
      @extend .f-tooltip-left;
    }
  }

  .f-tooltip-inner {
    max-width: $tooltip-max-width;
    padding: $tooltip-padding-y $tooltip-padding-x;
    font-family: $font-family-inter;
    font-weight: 500;
    color: $tooltip_color;
    text-align: center;
    background-color: $tooltip_bg;
    border-radius: $tooltip-border-radius;
    box-shadow: 0 8px 32px fade($tooltip_shadow, 50%);
  }
}
