.fade {
  transition: opacity 0.15s linear;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse-enter-active,
.collapse-leave-active {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.collapse-enter,
.collapse-leave-to {
  max-height: 0;
  overflow: hidden;
}

.fade-enter-active {
  transition: opacity 0.3s;
}
.fade-enter {
  opacity: 0;
}
//.fade-enter-to {
//}
.fade-leave {
  display: none;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.f-datepicker-zoom-in-down-enter-active,
.f-datepicker-zoom-in-down-leave-active {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scaleY(1);
  transform-origin: center top;
}

.f-datepicker-zoom-in-down-enter,
.f-datepicker-zoom-in-down-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
