@include api-utility($grid-breakpoints-mobile);

.f-w-100 {
  width: 100%;
}

.f-w-48 {
  width: px-to-rem(48px);
}

.f-h-20 {
  height: px-to-rem(20px);
}

.f-h-38 {
  height: px-to-rem(38px);
}

.f-h-48 {
  height: px-to-rem(48px);
}

.f-text-right {
  text-align: right;
}

.f-text-center {
  text-align: center;
}

.f-align-items-center {
  align-items: center;
}

.f-overflow-hidden {
  overflow: hidden;
}
