$cdn: 'https://pay.fondy.eu/icons/dist/';

$enable-important-utilities: false;

$grid-breakpoints-mobile: (
  xs: 0,
  ss: 375px,
  sm: 576px,
);

$grid-breakpoints-adaptive: (
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$grid-breakpoints: map-merge(
  $grid-breakpoints-mobile,
  $grid-breakpoints-adaptive
);

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  4: px-to-rem(4px),
  8: px-to-rem(8px),
  12: px-to-rem(12px),
  16: px-to-rem(16px),
  20: px-to-rem(20px),
  24: px-to-rem(24px),
);

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ('<', '%3c'),
  ('>', '%3e'),
  ('#', '%23'),
  ('(', '%28'),
  (')', '%29')
);

// Typography
$font-family-inter: inter, sans-serif;
$font-family-card-number: 'Card Number', sans-serif;
$font-family-cvv: 'Cvv', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.4;
$headings-margin-bottom: $spacer / 2;

//== Z-index master list
$zindex-sidebar: 990;
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-notification: 1021;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-loading: 1080;

$grid-columns: 12;
$grid-gutter-width: px-to-rem(16px);
$grid-row-columns: 6;

$header-height: px-to-rem(50px) + px-to-rem(24px) /*+ 2px*/;

$modal-dialog-margin: 2rem;
$modal-backdrop-opacity: 0.7;

$modal-sm: 300px;
$modal-md: 427px;
$modal-lg: 620px;
$modal-xl: 800px;

$loading-width: px-to-rem(60px);
$loading-top: px-to-rem(3px);
$loading-item: ($loading-width - $loading-top) / 2;

$header-height: px-to-rem(74px);

$input-select-arrow-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#989a9c'><path d='M2.47,5.47a.75.75,0,0,1,1.06,0L8,9.94l4.47-4.47a.75.75,0,0,1,1.06,1.06L8.88,11.18a1.26,1.26,0,0,1-1.76,0L2.47,6.53A.75.75,0,0,1,2.47,5.47Z'/></svg>");
$input-select-arrow-light: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#818c99'><path d='M2.47,5.47a.75.75,0,0,1,1.06,0L8,9.94l4.47-4.47a.75.75,0,0,1,1.06,1.06L8.88,11.18a1.26,1.26,0,0,1-1.76,0L2.47,6.53A.75.75,0,0,1,2.47,5.47Z'/></svg>");

$input-border-width: px-to-rem(1px);
$input-padding-start: px-to-rem(12px);
$input-focus-border-width: px-to-rem(1.5px);
// stylelint-disable-next-line scss/operator-no-newline-after
$input-focus-padding-start: $input-padding-start -
  ($input-focus-border-width - $input-border-width);
$input-error-border-width: px-to-rem(2px);
// stylelint-disable-next-line scss/operator-no-newline-after
$input-error-padding-start: $input-padding-start -
  ($input-error-border-width - $input-border-width);

$utilities: (
  'margin': (
    responsive: true,
    property: margin,
    class: m,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'margin-top': (
    responsive: true,
    property: margin-top,
    class: mt,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'margin-end': (
    responsive: true,
    property: margin-right,
    class: mr,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'margin-bottom': (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'margin-start': (
    responsive: true,
    property: margin-left,
    class: ml,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'padding': (
    responsive: true,
    property: padding,
    class: p,
    values: $spacers,
  ),
  'padding-top': (
    responsive: true,
    property: padding-top,
    class: pt,
    values: $spacers,
  ),
  'padding-end': (
    responsive: true,
    property: padding-right,
    class: pr,
    values: $spacers,
  ),
  'padding-bottom': (
    responsive: true,
    property: padding-bottom,
    class: pb,
    values: $spacers,
  ),
  'padding-start': (
    responsive: true,
    property: padding-left,
    class: pl,
    values: $spacers,
  ),
);
