$grid-breakpoints: (
  xs: 0,
  ss: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
);

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ('<', '%3c'),
  ('>', '%3e'),
  ('#', '%23'),
  ('(', '%28'),
  (')', '%29')
);

// Typography
$font-family-greenwich: greenwich, sans-serif;
$font-family-inter: inter, sans-serif;
$font-family-card-number: 'Card Number', sans-serif;
$font-family-cvv: 'Cvv', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.4;
$headings-margin-bottom: $spacer / 2;

//== Z-index master list
$zindex-sidebar: 990;
$zindex-dropdown: 1000;
$zindex-tooltip-under-sticky: 1019;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

//== Modals
$modal-padding: 15px;
$modal-backdrop-opacity: 0.5;
$modal-lg: 900px;
$modal-md: 600px;
$modal-sm: 300px;
