$grid-breakpoints: (
  xs: 0,
  ss: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
);

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ('<', '%3c'),
  ('>', '%3e'),
  ('#', '%23'),
  ('(', '%28'),
  (')', '%29')
);

// Typography
$font-family-inter: inter, sans-serif;
$font-family-card-number: 'Card Number', sans-serif;
$font-family-cvv: 'Cvv', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.4;
$headings-margin-bottom: $spacer / 2;

//== Z-index master list
$zindex-loading: 980;
$zindex-sidebar: 990;
$zindex-dropdown: 1000;
$zindex-tooltip-under-sticky: 1019;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$grid-columns: 12;
$grid-gutter-width: px-to-rem(16px);
$grid-row-columns: 6;

$header-height: px-to-rem(50px) + px-to-rem(24px) /*+ 2px*/;

$modal-dialog-margin: 2rem;
$modal-backdrop-opacity: 0.7;

$modal-sm: 300px;
$modal-md: 427px;
$modal-lg: 620px;
$modal-xl: 800px;

$loading-width: px-to-rem(60px);
$loading-top: px-to-rem(3px);
$loading-item: ($loading-width - $loading-top) / 2;
