//== Colors
@brand-text:                      #3D3D3D;
@brand-bg:                        #fff;    // rgba(61,61,61,0.06); #3D3D3D
@brand-other:                     #f3f3f3;
@brand-primary:                   #72B1D3;
@brand-success:                   #62BA46;
@brand-danger:                    #a94442;

//== Scaffolding
@checkout-bg:                     @brand-bg;
@text-color:                      @brand-text;
@link-color:                      @brand-primary;
@link-hover-color:                darken(@brand-primary, 15%);

@title-color:                     lighten(@brand-text, 20%);
@title2-color:                    darken(@brand-other, 24%); //#9AA4B8;
@title3-color:                    @brand-text;
@check-disabled-border:           #dcdcdc;
@check-enable-border:             @brand-success;
@input-error-color:               @brand-danger;
@loading-bg:                      rgba(255,255,255,0.7);
@menu-arrow-bg:                   @brand-success;
@menu-item-color:                 @brand-text;
@menu-item-active-color:          @brand-success;
@menu-item-active-bg:             @brand-bg;
@wrapper-border:                  darken(@brand-other, 5%); //#E0E8EF;
@wrapper-bg:                      #FCFEFF;
@info-border-mobile:              @brand-other; //#EAF1F6;
@info-border-tablet:              #E0E8EF;
@info-block-color:                darken(@brand-other, 29%); //#A9A9A9;
@methods-bg:                      @brand-bg;
@center-bg:                       @brand-bg;
@center-border:                   @brand-other;
@checkbox-swipe-disabled-bg:      #CDD1DA;
@checkbox-swipe-enabled-bg:       @brand-success;
@checkbox-swipe-switch-bg:        @brand-bg;
@checkbox-swipe-switch-border:    #E5E5E5;
@checkbox-border:                 #9AA4B8;
@checkbox-error-border:           @brand-danger;
@checkbox-enabled-bg:             @brand-success;
@checkbox-switch-border:          @brand-bg;
@hr-border:                       @brand-other;

//== Buttons
@btn-disabled-color:              #ADADAD;
@btn-disabled-bg:                 #E4E4E4;
@btn-disabled-border:             #DCDCDC;
@btn-default-color:               #8F8F8F;
@btn-default-bg:                  @brand-bg;
@btn-default-border:              #D5DDE0;
@btn-success-color:               @brand-bg;
@btn-success-bg:                  @brand-success;
@btn-success-border:              @brand-success;

//== Forms
@label-color:                     #707D8A;
@input-bg:                        @brand-bg;
@input-bg-disabled:               #eee;
@input-color:                     #707D8A;
@input-border:                    #D5DDE0;
@input-border-focus:              @brand-success;
@input-color-placeholder:         #999;
@input-group-addon-bg:            #FCFEFF;
@input-group-addon-border:        @input-border;

//== Dropdowns
@dropdown-bg:                     @brand-bg;
@dropdown-border:                 #D5DDE0;
@dropdown-divider-bg:             #e5e5e5;
@dropdown-link-color:             #707D8A;
@dropdown-link-hover-color:       #707D8A;
@dropdown-link-hover-bg:          #C4E1F1;
@dropdown-link-active-color:      @brand-bg;
@dropdown-link-active-bg:         @brand-primary;
@dropdown-link-disabled-color:    #777;
@dropdown-header-color:           #777;

//== Form states and alerts
@state-danger-text:               @brand-danger;
@state-danger-bg:                 #f2dede;
@state-danger-border:             @brand-danger;

//== Tooltips
@tooltip-color:                   @brand-bg;
@tooltip-bg:                      #5D6470;
@tooltip-error-bg:                #D6696D;
@tooltip-error-border:            #B05D60;

//== Popovers
@popover-content-title:           #DE878A;
@popover-content-color:           #707D8A;
@popover-bg:                      #FEF8F8;
@popover-border:                  #F5E6E4;

//== shadow
@menu-item-active-shadow:         rgba(90,136,215,0.16);
@menu-item-shadow:                rgba(0,0,0,0.16);
@wrapper-shadow:                  rgba(0,0,0,0.04);
@info-shadow:                     rgba(72,133,149,0.24);
@checkbox-swipe-disabled-shadow:  rgba(0,0,0,.2);
@ps-active-shadow:                rgba(0,0,0,0.08);
@input-shadow:                    rgba(0,0,0,0.1);
@dropdown-shadow:                 rgba(0,0,0,0.24);
@state-danger-shadow:             rgba(208,2,27,0.24);
@popover-shadow:                  rgba(0,0,0,0.1);
