@bootstrap-path: '../../../node_modules/bootstrap/less/';

@import "bootstrap/bootstrap.less";
@import 'mixins.less';
@import "checkbox.less";
@import "icon.less";
@import "template.less";

html {
  height: 100%;
}
body {
  height: 100%;
  overflow-y: scroll;
}
