.f-wallet-pay-button {
  &::after {
    padding: px-to-rem(10px);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-size: contain;
  }

  iframe {
    height: 100%;
    border: 0;
  }

  .f-sidebar & {
    margin-bottom: px-to-rem(32px);
  }

  .f-center & {
    margin-bottom: px-to-rem(24px);
  }
}

.f-wallet-pay-title {
  margin-bottom: px-to-rem(16px);
  font-weight: 300;
}

.f-wallet-pay-button-click {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.f-wallet-pay-button-google-light,
.f-wallet-pay-button-google-dark {
  padding: 0;
}

.f-wallet-pay-button-google-light::after,
.f-wallet-pay-button-card-light::after {
  background-image: url('https://www.gstatic.com/instantbuy/svg/light_gpay.svg');
}

.f-wallet-pay-button-google-dark::after,
.f-wallet-pay-button-card-dark::after {
  background-image: url('https://www.gstatic.com/instantbuy/svg/dark_gpay.svg');
}

.f-wallet-pay-button-google-load::after {
  background-image: none;
}

.f-wallet-pay-button-apple-light::after {
  background-image: url('#{$PUBLIC_PATH}img/apple-pay-light.svg');
}

.f-wallet-pay-button-apple-dark::after {
  background-image: url('#{$PUBLIC_PATH}img/apple-pay-dark.svg');
}
