.f-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: px-to-rem(63px) 0 px-to-rem(16px) px-to-rem(16px);
  margin-bottom: px-to-rem(32px);
}

.f-card-shadow {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: px-to-rem(32px);
  content: '';
  border-radius: px-to-rem(16px);
  box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($card_shadow, 60%);

  .f-theme-dark & {
    box-shadow: 0 px-to-rem(10px) px-to-rem(25px) rgba(0, 0, 0, 0.6);
  }
}

.f-card-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(
    180deg,
    custom($card_bg, +6%, +8%) 0%,
    $card_bg 35%,
    custom($card_bg, -0%, -8%) 100%
  );
  background-clip: padding-box;
  border-radius: px-to-rem(16px);
  box-shadow: $card_shadow_custom;
}

.f-card-bg-lighten {
  background: linear-gradient(
    180deg,
    custom($card_bg, +6%, +16%) 0%,
    custom($card_bg, +0%, +8%) 35%,
    $card_bg 100%
  );
}

.f-card-img {
  background: $card_img no-repeat 0 0 / 100% 100%;
}

.f-card-gradient-custom {
  background: $card_gradient_custom;
}

.f-card-brand {
  position: absolute;
  top: px-to-rem(14px);
  right: px-to-rem(14px);
}

.f-card-brand-icon {
  width: px-to-rem(86px);
  height: px-to-rem(42px);
  border: px-to-rem(1px) solid $white;
  border-radius: px-to-rem(6px);
}

.f-form-group-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 px-to-rem(20px) 0 0;

  .f-control-label {
    order: -1;
    margin-bottom: px-to-rem(6px);
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    color: $card_label_color;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    opacity: 0.7;
  }

  .f-form-control {
    height: px-to-rem(18px);
    padding: 0;
    font-family: $font-family-card-number;
    font-size: px-to-rem(15px);
    font-weight: 400;
    line-height: px-to-rem(18px);
    color: $card_input_color;
    text-shadow: px-to-rem(1px) px-to-rem(1px) px-to-rem(2px)
      fade($card_input_shadow, 15%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0;

    &:hover {
      background-color: inherit;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $card_input_color;

      &::first-line {
        font-family: $font-family-card-number;
        font-size: px-to-rem(15px);
        line-height: px-to-rem(18px);
        color: $card_input_color;
      }
    }

    &::placeholder {
      font-family: $font-family-card-number;
      color: fade($card_input_color, 30%);
    }

    &[readonly] {
      opacity: 0.6;

      &::placeholder {
        font-family: $font-family-cvv;
        color: $card_input_color;
      }
    }
  }
}

.f-form-group-card-number {
  width: 100%;
  margin: 0 0 px-to-rem(15px) 0;
}

[name='f-expiry_date'] {
  width: px-to-rem(80px);
}

.f-form-control[name='f-cvv2'] {
  width: px-to-rem(75px);
  font-family: $font-family-cvv;

  &:-webkit-autofill::first-line {
    font-family: $font-family-cvv;
  }
}

.f-control-label-card-list {
  margin-right: auto;
  cursor: pointer;
}

.f-card-list {
  font-weight: 500;
}

.f-card-list-add,
.f-card-list-item {
  display: flex;
  height: px-to-rem(60px);
  padding: px-to-rem(11px) px-to-rem(20px);
  margin-bottom: px-to-rem(13px);
  color: $main_color;
  text-decoration: none;
  cursor: pointer;
  transition: background-color ease-in-out 0.15s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &.active {
    text-decoration: none;
    background-color: $card_list_item_active_bg;
  }
}

.f-card-list-add {
  height: inherit;
}

.f-card-list-icon {
  width: px-to-rem(40px);
  height: px-to-rem(20px);
  margin-right: px-to-rem(4px);
  color: $icon_color;
  border-radius: px-to-rem(6px);
}

.f-card-list-number {
  color: $card_list_number_color;
}

.f-card-list-expiry-date {
  font-size: px-to-rem(12px);
  font-weight: 400;
  color: $card_list_expiry_date_color;
}
