@import 'loyaut';
@import 'menu';
@import 'card';
@import 'modal';
@import 'success';
@import 'button-pay-wallet';
@import 'banklinks';
@import 'subscription';
@import 'fast-access';
@import 'tooltip';
@import 'receipt';

.f-payment-method {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.f-container-sm,
.f-payment-method-card-inner {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.f-merchant-name {
  font-weight: 500;
  color: $merchant_name_color;
}

.f-merchant-url {
  margin-bottom: px-to-rem(12px);

  a {
    font-weight: 500;
    color: $merchant_url_color;

    @include hover() {
      color: darken($merchant_url_color, 20%);
    }
  }
}

.f-order-desc {
  margin-bottom: px-to-rem(12px);
}

.f-order-desc-text {
  color: $order_desc_color;

  @include clip-row($container_bg);
}

.f-order-desc-more {
  font-weight: 600;
  color: $order_desc_more_color;

  @include hover() {
    color: darken($order_desc_more_color, 20%);
  }
}

.f-price {
  margin-bottom: px-to-rem(24px);
}

.f-amount {
  display: inline-block;
  margin-right: px-to-rem(8px);
  font-size: px-to-rem(28px);
  font-weight: 600;
  line-height: 1.2;
  color: $amount_color;

  sup {
    font-size: px-to-rem(16px);
  }
}

.f-currency {
  display: inline-block;
  font-size: px-to-rem(20px);
  color: $currency_color;
}

.f-fee-key {
  flex: 0 0 px-to-rem(120px);
  max-width: px-to-rem(120px);
}

.f-icons-title {
  margin-right: px-to-rem(16px);
  font-weight: 300;
  letter-spacing: px-to-rem(-0.3px);
}

.f-lang {
  padding: px-to-rem(8px) px-to-rem(28px) px-to-rem(8px) px-to-rem(8px);
  color: $btn_link_default_color;
  border: none;
}

.f-icons {
  display: flex;
  align-items: center;

  .f-icon {
    margin-right: px-to-rem(8px);
    border-radius: px-to-rem(3px);
    box-shadow: 0 px-to-rem(1px) px-to-rem(4px) $menu_icons_shadow;

    &:last-child {
      margin-right: 0;
    }
  }
}

.f-icons-count {
  display: block;
  width: px-to-rem(24px);
  height: px-to-rem(24px);
  font-size: px-to-rem(10px);
  line-height: px-to-rem(24px);
  color: $menu_count_color;
  text-align: center;
  background: $menu_count_bg;
  border-radius: px-to-rem(3px);
  transition: all ease-in-out 0.15s;

  @include hover() {
    color: darken($menu_count_color, 20%);
    text-decoration: none;
  }
}

.f-title-security {
  font-size: px-to-rem(12px);
  color: $security_color;
  text-align: center;
  cursor: pointer;
  transition: color ease-in-out 0.15s;

  &:hover {
    color: $security_hover_color;
    text-decoration: none;

    .f-svg-security {
      color: $security_icon_hover_color;
    }
  }

  .f-svg {
    margin-right: px-to-rem(10px);
  }
}

.f-svg-security {
  color: $security_icon_color;
  vertical-align: middle;
  transition: color ease-in-out 0.15s;
}

.f-form-group-currency {
  position: absolute;
  top: px-to-rem(17px);
  right: px-to-rem(12px);
  font-size: px-to-rem(16px);
  font-weight: 500;
  color: $label_color;
  transition: all ease-in-out 0.15s;
  transform-origin: 0 0;

  .f-active + & {
    transform: translateY(7px);
  }
}

.f-gdpr {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
  padding-bottom: px-to-rem(32px);
  margin-bottom: 0;
  border-radius: px-to-rem(12px) px-to-rem(12px) px-to-rem(0) px-to-rem(0);

  .f-checkbox-label {
    &::after {
      border-color: #6a747e;
    }
  }
}

.f-gdpr-content {
  line-height: px-to-rem(20px);
}

.f-gdpr-buttons {
  text-align: center;
}

.f-demo-title {
  position: absolute;
  left: 50%;
  padding: px-to-rem(1px) px-to-rem(16px);
  font-size: px-to-rem(14px);
  font-weight: 500;
  color: $white;
  background: $demo;
  border-radius: 0 0 px-to-rem(8px) px-to-rem(8px);
  transform: translateX(-50%);
}
