// stylelint-disable-next-line selector-max-id
#f {
  //height: 100%;
  //min-height: 100%;
  font-family: $font-family-greenwich;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $main_color;
  background-color: $main_bg;
}

.f-container {
  width: 100%;
  height: 100%;
  background: $container_bg;
}

.f-header {
  display: flex;
  background: $container_bg;
}

.f-header-logo {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  align-items: center;
  height: px-to-rem(74px);
  padding: px-to-rem(24px) 0 0 px-to-rem(20px);
}

.f-header-menu {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: flex-end;
  padding: px-to-rem(24px) px-to-rem(20px) 0 0;
}

.f-wrapper {
  position: relative;
}

.f-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: px-to-rem(24px) px-to-rem(20px) 0 px-to-rem(20px);
  overflow: auto;
  background-color: $container_bg;
  transform: translateX(-1000%);

  .f-open & {
    z-index: $zindex-sidebar;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(0);
  }
}

.f-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.f-center {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height});
  padding: px-to-rem(24px) px-to-rem(20px) 0 px-to-rem(20px);
}

.f-logo {
  width: 100%;
  height: 100%;
  background: url('../assets/logo.svg') no-repeat 0 50%;
  background-size: contain;
}

.f-button-pay {
  //@include sticky-bottom(0, 1021);
  margin-bottom: px-to-rem(16px);
}

.f-btn-methods {
  display: block;
}

.f-security {
  padding-top: px-to-rem(32px);
  padding-bottom: (20px);
  margin-top: auto;
  text-align: center;
  background-image: linear-gradient(
    0deg,
    $container_bg 66%,
    fade($container_bg, 0) 100%
  );
  @include sticky-bottom();
}
