$header-height: 50px + 24px /*+ 2px*/;

// stylelint-disable-next-line selector-max-id
#f {
  //height: 100%;
  //min-height: 100%;
  font-family: $font-family-greenwich;
  font-size: $font-size-base;
  line-height: 1.4;
  background-color: $main_bg;

  @include media-breakpoint-up(xl) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.f-container {
  width: 100%;
  height: 100%;
  color: $container_color;
  background: $container_bg;

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
    height: 100vh;
    max-height: 686px;
    margin: auto;
    border-radius: px-to-rem(16px);
    box-shadow: 0 24px 40px fade($container_box_shadow, 60%);
  }
}

.f-header {
  display: flex;
  background: $container_bg;

  @include media-breakpoint-up(lg) {
    @include sticky-top();
  }

  @include media-breakpoint-up(xl) {
    border-radius: px-to-rem(16px) px-to-rem(16px) 0 0;
  }
}

.f-header-logo {
  flex: 0 0 50%;
  padding: px-to-rem(24px) 0 0 px-to-rem(20px);

  @include media-breakpoint-up(md) {
    padding: px-to-rem(24px) 0 0 px-to-rem(40px);
  }

  @include media-breakpoint-up(md) {
    padding: px-to-rem(24px) 0 0 px-to-rem(40px);
  }
  @include media-breakpoint-up(lg) {
    flex: 0 0 410px;
    padding: px-to-rem(24px) 0 0 px-to-rem(40px);
    border-right: 2px solid $sidebar_border;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 0 450px;
    padding: px-to-rem(24px) 0 0 px-to-rem(60px);
    border-right: 2px solid $sidebar_border;
  }
}

.f-header-menu {
  flex: 0 0 50%;
  padding: px-to-rem(24px) px-to-rem(20px) 0 0;
  text-align: right;

  @include media-breakpoint-up(md) {
    padding: px-to-rem(24px) px-to-rem(24px) 0 0;
  }

  @include media-breakpoint-up(lg) {
    flex: 1;
    padding: px-to-rem(24px) px-to-rem(24px) 0 0;
  }

  @include media-breakpoint-up(xl) {
    flex: 1;
    padding: px-to-rem(24px) px-to-rem(24px) 0 0;
  }
}

.f-wrapper {
  position: relative;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
  }
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-wrap: wrap;
    // TODO js
    height: calc(100% - #{$header-height});
    overflow: auto;
  }
}

.f-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: px-to-rem(24px) px-to-rem(20px) 0 px-to-rem(20px);
  background-color: $container_bg;
  transform: translateX(-100%);

  .f-open & {
    z-index: 1070;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(0);
  }

  @include media-breakpoint-up(lg) {
    position: inherit;
    flex: 0 0 410px;
    height: calc(100vh - #{$header-height});
    padding: px-to-rem(24px) px-to-rem(40px) 0 px-to-rem(40px);
    border-right: 2px solid $sidebar_border;
    transform: translateX(0);
    @include sticky-top(calc(#{$header-height}));
  }
  @include media-breakpoint-up(xl) {
    @include sticky-top();
    flex: 0 0 450px;
    height: 100%;
    padding: px-to-rem(24px) px-to-rem(60px) 0 px-to-rem(60px);
    border-right: 2px solid $sidebar_border;
    border-radius: 0 0 0 px-to-rem(16px);
  }
}

.f-sidebar-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(lg) {
    max-width: inherit;
  }
}

.f-center-top {
  @include media-breakpoint-up(lg) {
    height: 20px;
    background-image: linear-gradient(
      to bottom,
      $container_bg,
      fade($container_bg, 0)
    );
    @include sticky-top(calc(#{$header-height}));
  }
  @include media-breakpoint-up(xl) {
    @include sticky-top(0);
    height: 20px;
  }
}

.f-center {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height});
  padding: px-to-rem(24px) px-to-rem(20px) 0 px-to-rem(20px);

  @include media-breakpoint-up(md) {
    padding: px-to-rem(24px) px-to-rem(40px) 0 px-to-rem(40px);
  }
  @include media-breakpoint-up(lg) {
    flex: 1;
    min-height: inherit;
    padding: px-to-rem(24px);
  }
  @include media-breakpoint-up(xl) {
    flex: 1;
    padding: px-to-rem(24px);
  }
}

.f-logo {
  height: 50px;
  background: url('../assets/logo.svg') no-repeat 0 50%;
  background-size: contain;
}

.f-button-pay {
  //@include sticky-bottom(0, 1021);
  margin-bottom: px-to-rem(16px);
}

.f-btn-methods {
  display: block;
  margin-bottom: px-to-rem(32px);

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .f-open & {
    display: none;
  }
}

.f-security {
  padding-top: px-to-rem(32px);
  padding-bottom: (20px);
  margin-top: auto;
  @include sticky-bottom();
  background-image: linear-gradient(
    0deg,
    $container_bg 66%,
    fade($container_bg, 0) 100%
  );

  @include media-breakpoint-up(ss) {
    padding-bottom: (24px);
  }

  .f-center & {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.f-info {
  .f-sidebar & {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

//.f-icons {
//  .f-center & {
//    @include media-breakpoint-up(lg) {
//      display: none;
//    }
//  }
//}
