// stylelint-disable-next-line selector-max-id
#f {
  font-family: $font-family-inter;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $main_color;
  background-color: $main_bg;
}

.f-container {
  width: 100%;
  height: 100%;
  background: $container_bg;
}

.f-header {
  display: flex;
  background: $container_bg;
}

.f-header-logo {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  align-items: center;
  max-width: 50%;
  height: px-to-rem(74px);
  padding: px-to-rem(24px) 0 0 px-to-rem(20px);

  // stylelint-disable-next-line selector-max-id
  html #f.f-embed & {
    height: auto;
    padding-top: 0;
  }
}

.f-header-menu {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: flex-end;
  max-width: 50%;
  padding: px-to-rem(24px) px-to-rem(20px) 0 0;
}

.f-wrapper {
  position: relative;

  // stylelint-disable-next-line selector-max-id
  html #f.f-embed & {
    min-height: 500px;
  }
}

.f-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $container_bg;
  transform: translateX(-1000%);

  .f-open & {
    z-index: $zindex-sidebar;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(0);
  }
}

.f-sidebar-wrap {
  padding: 0 px-to-rem(20px);
}

.f-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.f-top {
  height: px-to-rem(24px);
  background-image: linear-gradient(
    to bottom,
    $container_bg,
    fade($container_bg, 0)
  );
  @include sticky-top();
}

.f-center {
  height: 100%;
}

.f-center-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 px-to-rem(20px);
}

.f-logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $logo_color;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;

  svg {
    width: px-to-rem(100px);
    height: px-to-rem(23px);
  }
}

.f-button-pay {
  //@include sticky-bottom(0, 1021);
  margin-bottom: px-to-rem(16px);
}

.f-btn-methods {
  display: block;
  padding-right: 0;
  padding-left: 0;
}

.f-security {
  padding-top: px-to-rem(32px);
  padding-bottom: (20px);
  margin-top: auto;
  text-align: center;

  .f-payment-method-wallets & {
    display: none;
  }
}
