.f-menu-item {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  height: px-to-rem(60px);
  padding: 0 px-to-rem(18px) 0 px-to-rem(9px);
  margin-bottom: px-to-rem(12px);
  font-size: px-to-rem(17px);
  font-weight: 300;
  color: $menu_item_color;
  cursor: pointer;
  border: 1px solid $menu_item_border;
  border-radius: px-to-rem(8px);
  transition: all ease-in-out 0.15s;

  &:hover,
  &.active {
    font-weight: 400;
    color: $menu_item_active_color;
    text-decoration: none;
    background: $menu_item_active_bg;

    .f-menu-icon {
      color: $menu_icon_active_color;
    }

    .f-icons-count {
      color: $menu_count_active_color;
      background: $menu_count_active_bg;
    }

    .f-icon {
      opacity: 1;
    }
  }

  .f-icon {
    opacity: 0.3;
    transition: all ease-in-out 0.15s;
  }
}

.f-menu-icon {
  color: $menu_icon_color;
  transition: all ease-in-out 0.15s;
}

.f-menu-icons {
  margin-left: auto;
}
