.f-menu {
  margin-bottom: px-to-rem(32px);
}

.f-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: px-to-rem(72px);
  padding: 0 px-to-rem(15px) 0 px-to-rem(7px);
  margin-bottom: px-to-rem(12px);
  font-weight: 400;
  color: $menu_item_color;
  text-align: left;
  cursor: pointer;
  background-color: $container_bg;
  border: 1px solid $menu_item_border;
  border-radius: px-to-rem(8px);
  transition: all ease-in-out 0.15s;

  &:hover {
    padding: 0 px-to-rem(16px) 0 px-to-rem(8px);
    background: $menu_item_hover_bg;
    border: none;
  }

  &.active {
    font-weight: 500;
    color: $menu_item_active_color;
    background: $menu_item_active_bg;

    .f-menu-icon {
      color: $menu_icon_active_color;
    }

    .f-icons-count {
      color: $menu_count_active_color;
      background: $menu_count_active_bg;
    }

    .f-icon {
      opacity: 1;
    }
  }

  &:hover,
  &.active {
    text-decoration: none;
  }
}

.f-menu-icon {
  color: $menu_icon_color;
  transition: all ease-in-out 0.15s;
}

.f-menu-icons {
  margin-left: auto;
}
