.f-subscription {
  padding: px-to-rem(16px) px-to-rem(12px) px-to-rem(12px);
  margin-top: px-to-rem(24px);
  margin-bottom: px-to-rem(16px);
  background-color: $subscription_bg;
  border-radius: px-to-rem(8px);
}

.f-subscription-wrapper {
  margin-top: px-to-rem(12px);

  > :last-child {
    margin: 0;
  }
}

.f-verification-desc {
  font-size: px-to-rem(12px);
}
