.f-subscription {
  margin-top: px-to-rem(24px);
  margin-bottom: px-to-rem(16px);
}

.f-subscription-wrapper {
  margin-top: px-to-rem(12px);

  > :last-child {
    margin: 0;
  }
}

.f-verification-desc {
  font-size: px-to-rem(12px);
}
