.f-success {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.f-success-title {
  text-align: center;

  svg {
    margin: px-to-rem(-16px) 0;
  }
}

.f-success-form-group {
  padding: px-to-rem(16px);
  word-wrap: break-word;
  border: 1px solid $input_border;
  border-radius: px-to-rem(8px);
}
