.f-tooltip-security-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: px-to-rem(16px);
  opacity: 0.5;
}

.f-tooltip-security-content {
  p:last-child {
    margin-bottom: 0;
  }
}

.f-tooltip-icons {
  .f-tooltip-inner {
    padding: px-to-rem(12px);
  }

  .f-icon {
    margin-right: px-to-rem(8px);
    border-radius: px-to-rem(3px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.f-tooltip-error {
  .f-tooltip-inner {
    color: $tooltip_error_color;
  }
}

.f-tooltip-card {
  .f-tooltip-inner {
    padding: px-to-rem(8px) 0;
    color: $tooltip_card_color;
  }
}

.f-tooltip-cvv {
  .f-tooltip-inner {
    color: $tooltip_cvv_color;
  }
}
