@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('#{$cdn}fonts/inter-regular.woff2') format('woff2'),
    url('#{$cdn}fonts/inter-regular.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('#{$cdn}fonts/inter-medium.woff2') format('woff2'),
    url('#{$cdn}fonts/inter-medium.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('#{$cdn}fonts/inter-semibold.woff2') format('woff2'),
    url('#{$cdn}fonts/inter-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Card Number';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$cdn}fonts/card-number.woff') format('woff');
}

@font-face {
  font-family: Cvv;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$cdn}fonts/cvv.woff') format('woff');
}
