@font-face {
  font-family: Greenwich;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/greenwich-light.woff2') format('woff2'),
    url('../fonts/greenwich-light.woff') format('woff');
}

@font-face {
  font-family: Greenwich;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/greenwich-regular.woff2') format('woff2'),
    url('../fonts/greenwich-regular.woff') format('woff');
}

@font-face {
  font-family: Greenwich;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/greenwich-medium.woff2') format('woff2'),
    url('../fonts/greenwich-medium.woff') format('woff');
}

@font-face {
  font-family: Greenwich;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/greenwich-semibold.woff2') format('woff2'),
    url('../fonts/greenwich-semibold.woff') format('woff');
}

@font-face {
  font-family: Greenwich;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/greenwich-bold.woff2') format('woff2'),
    url('../fonts/greenwich-bold.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/inter-regular.woff2') format('woff2'),
    url('../fonts/inter-regular.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/inter-medium.woff2') format('woff2'),
    url('../fonts/inter-medium.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/inter-semibold.woff2') format('woff2'),
    url('../fonts/inter-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Card Number';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/card-number.woff') format('woff');
}

@font-face {
  font-family: Cvv;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/cvv.woff') format('woff');
}
