@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('@/fonts/normal.woff2') format('woff2'),
    url('@/fonts/normal.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('@/fonts/medium.woff2') format('woff2'),
    url('@/fonts/medium.woff') format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('@/fonts/semibold.woff2') format('woff2'),
    url('@/fonts/semibold.woff') format('woff');
}

@font-face {
  font-family: 'Card Number';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/fonts/card-number.woff') format('woff');
}

@font-face {
  font-family: Cvv;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/fonts/cvv.woff') format('woff');
}
