@import 'core/index';
@import 'template/index';
@import 'core/utilities';

html {
  .ipsp-modal {
    max-width: 590px;
    &-header {
      height: 0;
    }
    &-close {
      position: absolute;
      top: 0;
      right: 0;
    }
    &-title {
      display: none;
    }
    &-content {
      min-height: 600px;
    }
    &-iframe {
      height: 600px;
    }
  }
}
