@import 'core/functions';
@import 'core/colors';
@import 'core/variables';
@import 'core/mixins/index';

.f-card {
  @include media-breakpoint-up(ss) {
    padding: px-to-rem(95px) 0 px-to-rem(19.5px) px-to-rem(16px);
  }
}

.f-form-group-card {
  .f-control-label {
    @include media-breakpoint-up(ss) {
      margin-bottom: px-to-rem(4px);
      font-size: px-to-rem(11px);
      line-height: px-to-rem(13px);
    }
  }

  .f-form-control {
    @include media-breakpoint-up(ss) {
      height: px-to-rem(25px);
      font-size: px-to-rem(20px);
      line-height: px-to-rem(25px);
    }

    &:-webkit-autofill {
      &::first-line {
        @include media-breakpoint-up(ss) {
          font-size: px-to-rem(20px);
          line-height: px-to-rem(25px);
        }
      }
    }
  }
}

.f-amount {
  @include media-breakpoint-up(ss) {
    font-size: px-to-rem(32px);
  }
}

.f-currency {
  @include media-breakpoint-up(ss) {
    font-size: px-to-rem(22px);
  }
}

.f-container-sm,
.f-payment-method-card-inner {
  @include media-breakpoint-up(ss) {
    width: 100%;
    max-width: 335px;
  }
}

.f-fast-access-icon {
  @include media-breakpoint-up(ss) {
    margin-right: 23px; // 335px

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.f-placeholder {
  @include media-breakpoint-up(ss) {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(25px);
  }
}
