@import 'core/index';
@import 'template/index';
@import 'core/utilities';

html {
  .ipsp-modal {
    max-width: 590px;
    &-header {
      height: 0;
    }
    &-close {
      position: absolute;
      top: 0;
      right: 0;
    }
    &-title {
      display: none;
    }
    &-content {
      min-height: 600px;
    }
    &-iframe {
      height: 600px;
    }
  }

  .f-tooltip-security-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: px-to-rem(16px);
    opacity: 0.5;
  }

  .f-tooltip-security-content {
    p {
      margin: px-to-rem(8px) 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .f-modal-security-title {
    margin-bottom: px-to-rem(32px);
    color: $modal_security_title_color;

    svg {
      color: $modal_security_title_svg_color;
    }
  }

  .f-modal-security-content {
    margin-bottom: px-to-rem(32px);
    font-weight: 300;

    p {
      margin: px-to-rem(8px) 0;
    }
  }

  .f-modal-security-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    opacity: 0.5;
  }

  .f-tooltip-icons {
    .f-tooltip-inner {
      padding: px-to-rem(12px);
    }

    .f-icon {
      margin-right: px-to-rem(8px);
      border-radius: px-to-rem(3px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
