@import 'core/functions';
@import 'core/colors';
@import 'core/variables';
@import 'core/mixins/index';

@include make-grid-columns(
  $grid-columns,
  $grid-gutter-width,
  $grid-breakpoints-adaptive
);

// stylelint-disable-next-line selector-max-id
#f {
  @include media-breakpoint-up(xl) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.f-container {
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
    max-height: 686px;
    border-radius: px-to-rem(16px);
    box-shadow: 0 24px 40px fade($container_box_shadow, 60%);
  }
}

.f-demo {
  @include media-breakpoint-up(xl) {
    border-radius: px-to-rem(16px) px-to-rem(16px) 0 0;
  }
}

.f-header {
  @include media-breakpoint-up(xl) {
    border-radius: px-to-rem(16px) px-to-rem(16px) 0 0;
  }
}

.f-header-logo {
  @include media-breakpoint-up(md) {
    padding: px-to-rem(24px) 0 0 px-to-rem(40px);
  }
  @include media-breakpoint-up(lg) {
    flex: 0 0 410px;
    max-width: 410px;
    padding: px-to-rem(24px) 0 0 px-to-rem(40px);
    border-right: 2px solid $sidebar_border;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 0 450px;
    max-width: 450px;
    padding: px-to-rem(24px) 0 0 px-to-rem(60px);
    border-right: 2px solid $sidebar_border;
  }

  .f-without-sidebar & {
    border-right: none;
  }
}

.f-header-menu {
  @include media-breakpoint-up(md) {
    padding: px-to-rem(24px) px-to-rem(24px) 0 0;
  }

  @include media-breakpoint-up(lg) {
    flex: 1;
    max-width: inherit;
    padding: px-to-rem(24px) px-to-rem(24px) 0 0;
  }

  @include media-breakpoint-up(xl) {
    padding: px-to-rem(24px) px-to-rem(24px) 0 0;
  }
}

.f-wrapper {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
  }
}

.f-sidebar {
  @include media-breakpoint-up(lg) {
    flex: 0 0 410px;
    max-width: 410px;
    height: 100%;
    background-color: $container_bg;
    border-right: 2px solid $sidebar_border;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 0 450px;
    max-width: 450px;
    border-radius: 0 0 0 px-to-rem(16px);
  }
}

.f-sidebar-wrap {
  @include media-breakpoint-up(lg) {
    padding: 0 px-to-rem(40px);
  }
  @include media-breakpoint-up(xl) {
    padding: 0 px-to-rem(60px);
  }
}

.f-center {
  @include media-breakpoint-up(lg) {
    flex: 1;
  }
}

.f-center-wrap {
  @include media-breakpoint-up(md) {
    padding: 0 px-to-rem(40px);
  }
  @include media-breakpoint-up(lg) {
    min-height: auto;
    padding: 0 px-to-rem(24px);
  }
}

.f-security {
  @include media-breakpoint-up(lg) {
    @include sticky-bottom();
  }
}

.f-center-security {
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.f-title-security {
  @include media-breakpoint-up(lg) {
    display: flex;
    width: 90px;
    padding: 0;
    font-size: px-to-rem(8px);
    font-weight: 500;
    line-height: px-to-rem(10px);
    text-align: left;
    background-color: $container_bg;

    .f-svg {
      min-width: px-to-rem(32px);
      margin-right: px-to-rem(2px);
      font-size: px-to-rem(32px);
    }

    span {
      padding-top: px-to-rem(1px);
    }
  }
}

@include media-breakpoint-up(md) {
  .f-modal {
    &.f-fade .f-modal-dialog {
      transform: translate(0, -50px);
    }
    &.f-show .f-modal-dialog {
      transform: none;
    }
  }

  .f-modal-dialog {
    align-items: center;
    max-width: $modal-md;
    min-height: 100%;
    margin: 0 auto;
  }

  .f-modal-content {
    padding: px-to-rem(40px) 0 0;
    margin-top: 0;
    font-size: px-to-rem(16px);
    border-radius: px-to-rem(16px);
  }

  .f-modal-header {
    padding: 0 px-to-rem(50px) px-to-rem(16px);

    .f-close {
      top: px-to-rem(-60px);
      right: px-to-rem(-44px);
    }
  }

  .f-modal-body {
    padding: 0 px-to-rem(50px) px-to-rem(40px);
  }

  .f-modal-footer {
    padding: 0 px-to-rem(50px) px-to-rem(40px);
  }

  .f-modal-sm {
    max-width: $modal-sm;
  }
}

@include media-breakpoint-up(lg) {
  .f-modal-lg,
  .f-modal-xl {
    max-width: $modal-lg;
  }
}

@include media-breakpoint-up(xl) {
  .f-modal-xl {
    max-width: $modal-xl;
  }
}

.f-menu-item {
  @include media-breakpoint-up(lg) {
    height: px-to-rem(60px);
    padding: 0 px-to-rem(16px) 0 px-to-rem(8px);
    margin-bottom: px-to-rem(4px);
    color: $menu_item_lg_color;
    border: none;
  }

  .f-icon {
    @include media-breakpoint-up(lg) {
      opacity: 0.3;
      transition: all ease-in-out 0.15s;
    }
  }
}

.f-menu-icon {
  @include media-breakpoint-up(lg) {
    color: $menu_icon_lg_color;
  }
}

.f-gdpr {
  @include media-breakpoint-up(md) {
    right: px-to-rem(32px);
    bottom: px-to-rem(32px);
    left: px-to-rem(32px);
    display: flex;
    padding-bottom: px-to-rem(24px);
    border-radius: px-to-rem(16px);
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }

  @include media-breakpoint-up(xl) {
    align-items: center;
  }
}

.f-gdpr-content {
  @include media-breakpoint-up(md) {
    flex-grow: 1;

    .f-form-group:last-child {
      margin-bottom: 0;
    }
  }
}

.f-gdpr-buttons {
  @include media-breakpoint-up(md) {
    .f-btn {
      display: block;
      width: 100%;
      text-align: center;

      &:first-child {
        margin-top: px-to-rem(-10px);
        margin-bottom: px-to-rem(12px);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .f-btn {
      display: inline-block;
      width: auto;

      &:first-child {
        margin: 0;
      }
    }
  }
}

.f-method-receipt {
  @include media-breakpoint-up(xl) {
    max-width: 600px;
    margin: 0 auto;
  }
}

.f-receipt-props {
  @include media-breakpoint-up(md) {
    padding-right: px-to-rem(40px);
    padding-left: px-to-rem(40px);
    margin-right: px-to-rem(-40px);
    margin-left: px-to-rem(-40px);
  }

  @include media-breakpoint-up(lg) {
    padding: px-to-rem(20px);
    margin-right: 0;
    margin-left: 0;
    border-radius: px-to-rem(8px);
  }
}

.f-notification {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: px-to-rem(8px);
    right: px-to-rem(16px);
    left: px-to-rem(16px);
    border-radius: px-to-rem(16px);
  }

  @include media-breakpoint-up(lg) {
    top: px-to-rem(8px);
    left: 50%;
    width: 100%;
    max-width: px-to-rem(815px);
    transform: translateX(-50%);
  }

  @include media-breakpoint-up(xl) {
    transform: translate(-50%, -50%);
  }

  @media (min-width: map-get($grid-breakpoints, xl)) and (max-height: 750px) {
    transform: translate(-50%, 0);
  }
}

.f-notification-icon {
  @include media-breakpoint-up(md) {
    border-radius: px-to-rem(16px) 0 0 px-to-rem(16px);
  }
}

@include api-utility($grid-breakpoints-adaptive);
